Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

Revert "added collapse for clustert list (#1663)"
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
Labels: deploy-board

Fix hotfixes pagination (#1679)
  deploy-board/deploy_board/templates/hotfixs/hotfix_landing.html
Labels: deploy-board

Revert "added collapse for clustert list" (#1680)
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
Labels: deploy-board

Get cluster capacity in Teletraan backend from Rodimus API
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/DefaultRodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
Labels: deploy-service

(trivial) fix ws
  deploy-agent/deployd/client/base_client.py
  deploy-agent/deployd/common/caller.py
  deploy-agent/deployd/common/executor.py
  deploy-agent/deployd/common/single_instance.py
  deploy-agent/deployd/download/http_download_helper.py
Labels: deploy-agent

Update deploy-agent future deps
  deploy-agent/deployd/client/base_client.py
  deploy-agent/deployd/common/caller.py
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/executor.py
  deploy-agent/deployd/common/single_instance.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/deployd/download/download_helper_factory.py
  deploy-agent/deployd/download/http_download_helper.py
  deploy-agent/deployd/staging/stager.py
  deploy-agent/setup.py
  deploy-agent/tests/unit/deploy/client/test_base_client.py
Labels: deploy-agent

bump deploy-agent version
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

Fix long task timer implementation (#1674)
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/metrics/micrometer/PinStatsLongTaskTimer.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/metrics/micrometer/PinStatsLongTaskTimerTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/metrics/micrometer/PinStatsPublisherTest.java
Labels: deploy-service

Update deploy-agent future deps (#1681)
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/client/base_client.py
  deploy-agent/deployd/common/caller.py
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/executor.py
  deploy-agent/deployd/common/single_instance.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/deployd/download/download_helper_factory.py
  deploy-agent/deployd/download/http_download_helper.py
  deploy-agent/deployd/staging/stager.py
  deploy-agent/setup.py
  deploy-agent/tests/unit/deploy/client/test_base_client.py
Labels: deploy-agent

add try catch block
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
Labels: deploy-service

Trim Trailing Whitespace
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
Labels: deploy-service

Add links to alarms
  deploy-board/deploy_board/templates/groups/asg_metrics.tmpl
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

fix a typo
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
Labels: deploy-service

Fix issue
  deploy-board/deploy_board/templates/groups/asg_metrics.tmpl
Labels: deploy-board

Update urls
  deploy-board/deploy_board/templates/groups/asg_metrics.tmpl
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

typo
  deploy-board/deploy_board/templates/groups/asg_metrics.tmpl
Labels: deploy-board

fix a typo (#1682)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
Labels: deploy-service

add #
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

Add links to alarms (#1683)
  deploy-board/deploy_board/templates/groups/asg_metrics.tmpl
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

Add metrics for first deploy success, provision latency (#1426)
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
Labels: deploy-service

format all - p1
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/alerts/AlertAction.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/alerts/AlertContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/alerts/AlertContextBuilder.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/alerts/AutoRollbackAction.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/alerts/DefaultAlertContextBuilder.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/alerts/ExternalAlertFactory.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/alerts/MarkBadBuildAction.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/alerts/PinterestExternalAlertFactory.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/allowlists/Allowlist.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/allowlists/BuildAllowlistImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/AcceptanceStatus.java
  deploy-service/pom.xml
Labels: deploy-service

format all - p3
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanAgentService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceContext.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/ScriptTokenRoleAuthorizer.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AutoPromoter.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/BuildJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HostTerminator.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/MetricsEmitter.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/PromoteResult.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/SimpleAgentJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/StateTransitioner.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/CompositeAuthorizationFactoryTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/RoleAuthorizationFactoryTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvAlertsTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvPromotesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvStagesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/UserRoleAuthorizerTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteBuildTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteDeployTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/HostTerminatorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/MetricsEmitterTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizer.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BaseAuthorizerTest.java
Labels: deploy-service

format all - p6
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Builds.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Commits.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/DeployCandidates.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/DeployConstraints.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Deploys.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAgentConfigs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAgents.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAlarms.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAlerts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvDeploys.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvGroupRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHistory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHostTags.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvMetrics.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvPromotes.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvScriptConfigs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvTokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvUserRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvWebHooks.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/GroupRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Groups.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hotfixs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Pindeploy.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Pings.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SecureApiListingResource.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SystemGroupRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SystemTokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SystemUserRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Systems.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Tags.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/TokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/UserRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Utils.java
Labels: deploy-service

format all - p7
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/BuildTagBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/ChatMessageBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/CommitBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployCandidatesResponse.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployFilterBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployGoalBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployPriority.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployQueryResultBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironState.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/GroupHostBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostTagInfo.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixState.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/MetricsConfigBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/MetricsSpecBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/OverridePolicy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingResult.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PromoteFailPolicy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/ScheduleState.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/SetClause.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TagValue.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/Updatable.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/UpdateStatement.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/WebHookBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/EncryptionUtils.java
Labels: deploy-service

DB Beans
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/AgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/AgentCountBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/AgentErrorBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/BuildBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/ConfigHistoryBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DataBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployConstraintBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployProgressBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployState.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvWebHookBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/ExternalAlert.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/GroupRolesBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostAgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostTagBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PindeployBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingReportBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingResponseBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PromoteBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PromoteFailPolicy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/RatingBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/ScheduleBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TagBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TagTargetType.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TokenRolesBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/UserRolesBean.java
Labels: deploy-service

final batch
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/ConfigHistoryBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployConstraintType.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployStage.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/DeployType.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvState.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvType.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/GroupRolesBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostState.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/OpCode.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PromoteDisablePolicy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PromoteType.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/ScheduleState.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TagSyncState.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TeletraanPrincipalRole.java
Labels: deploy-service

Ignore format commit
  .git-blame-ignore-revs
Labels: none

Fix various logging String.format issues.
  deploy-service/common/src/main/java/com/pinterest/deployservice/buildtags/BuildTagsManagerImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/pingrequests/Ec2InstanceValidator.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/SourceControlManagerProxy.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAlerts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Tags.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AutoPromoter.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HostTerminator.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/SimpleAgentJanitor.java
Labels: deploy-service

Do not override start time
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
Labels: deploy-service

Tests
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
Labels: deploy-service

Fix various logging String.format issues. (#1685)
  deploy-service/common/src/main/java/com/pinterest/deployservice/buildtags/BuildTagsManagerImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/pingrequests/Ec2InstanceValidator.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/SourceControlManagerProxy.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAlerts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Tags.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AutoPromoter.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HostTerminator.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/SimpleAgentJanitor.java
Labels: deploy-service

Ignore global format commit (#1687)
  .git-blame-ignore-revs
Labels: none

Do not overwrite start time (#1686)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
Labels: deploy-service

Add a new AuthZ resource type
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-service

Fix version
  deploy-service/pom.xml
Labels: deploy-service

Fix broken link
  README.md
Labels: none

Add a new AuthZ resource type (#1688)
  deploy-service/pom.xml
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-service

Fix broken link (#1689)
  README.md
Labels: none

Fix end of file
  README.md
Labels: none

Fix end of file (#1690)
  README.md
Labels: none
