Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

Clean up ServerlessClient
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/client/serverless_client.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/tests/unit/deploy/client/test_serverless_client.py
Labels: deploy-agent

Clean up OperationCode
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/types.py
  deploy-agent/deployd/types/opcode.py
  deploy-agent/deployd/types/ping_response.py
Labels: deploy-agent

Clean up AgentStatus
  deploy-agent/deployd/types/agent_status.py
  deploy-agent/deployd/types/ping_report.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/types/test_ping_report.py
  deploy-agent/tests/unit/deploy/types/test_ping_request.py
Labels: deploy-agent

Clean up DeployType
  deploy-agent/deployd/types/deploy_type.py
Labels: deploy-agent

Clean up DeployStage class
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/types/deploy_goal.py
  deploy-agent/deployd/types/deploy_stage.py
  deploy-agent/deployd/types/ping_report.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/types/test_deploy_goal.py
  deploy-agent/tests/unit/deploy/types/test_ping_report.py
  deploy-agent/tests/unit/deploy/types/test_ping_request.py
Labels: deploy-agent

Ignore global format commit
  .git-blame-ignore-revs
Labels: none

Ignore global format commit (#1779)
  .git-blame-ignore-revs
Labels: none

Add CERTIFIED_BUILD tag to tagging system
  deploy-board/deploy_board/webapp/build_views.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TagValue.java
  docs/api/definitions.md
Labels: deploy-board, deploy-service

remove extra whitespaces
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
Labels: deploy-agent

CDP-8328: Emit normandie and knox statuses inside pings (#1771)
  .gitignore
  deploy-agent/README.md
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

fix: deploy-service/common/pom.xml to reduce vulnerabilities
  deploy-service/common/pom.xml
Labels: deploy-service

format the code
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

Enforce formatter
  .pre-commit-config.yaml
Labels: none

wrong format
  deploy-agent/deployd/client/client.py
Labels: deploy-agent

Revert "wrong format"
  deploy-agent/deployd/client/client.py
Labels: deploy-agent

Remove unnecessary newline in tags_helper.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Update deploy-agent formatter (#1782)
  .pre-commit-config.yaml
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

Add CERTIFIED_BUILD tag to tagging system (#1780)
  deploy-board/deploy_board/webapp/build_views.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TagValue.java
  docs/api/definitions.md
Labels: deploy-board, deploy-service

Bump deploy-agent version for release
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

Bump deploy-agent version for release (#1783)
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

Add log when host launch threshold exceeded
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/MetricsEmitter.java
Labels: deploy-service

Add log when host launch threshold exceeded (#1784)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/MetricsEmitter.java
Labels: deploy-service

Adjust host launch threshold
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/MetricsEmitter.java
Labels: deploy-service

Adjust host launch threshold (#1785)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/MetricsEmitter.java
Labels: deploy-service

Clean up ServerlessClient
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/client/serverless_client.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/tests/unit/deploy/client/test_serverless_client.py
Labels: deploy-agent

Clean up AgentStatus
  deploy-agent/deployd/types/agent_status.py
  deploy-agent/deployd/types/ping_report.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/types/test_ping_report.py
  deploy-agent/tests/unit/deploy/types/test_ping_request.py
Labels: deploy-agent

Clean up OperationCode
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/types.py
  deploy-agent/deployd/types/opcode.py
  deploy-agent/deployd/types/ping_response.py
Labels: deploy-agent

Clean up DeployStage class
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/types/deploy_goal.py
  deploy-agent/deployd/types/deploy_stage.py
  deploy-agent/deployd/types/ping_report.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/types/test_deploy_goal.py
  deploy-agent/tests/unit/deploy/types/test_ping_report.py
  deploy-agent/tests/unit/deploy/types/test_ping_request.py
Labels: deploy-agent

Clean up DeployType
  deploy-agent/deployd/types/deploy_type.py
Labels: deploy-agent

Remove redundant host tag
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/common/stats.py
Labels: deploy-agent

Check debug logging flag as an optimization
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-service

fix: deploy-board/requirements.txt to reduce vulnerabilities
  deploy-board/requirements.txt
Labels: deploy-board

Add CERTIFYING_BUILD tag to tagging system
  deploy-board/deploy_board/webapp/build_views.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TagValue.java
  docs/api/definitions.md
Labels: deploy-board, deploy-service

Fix missing newline at end of file in tags_helper.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Format code for better readability in tags_helper.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Fix missing newline at end of file in tags_helper.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Refactor get_latest_by_target_id function for improved readability
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Fix missing newline at end of file in tags_helper.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Add CERTIFYING_BUILD tag to TagValue enum
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TagValue.java
Labels: deploy-service

Add CERTIFYING_BUILD tag to TagValue enum
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**
