Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

Remove unused CERTIFYING_BUILD constant from TagValue class
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Replace reference to TagValue.CERTIFYING_BUILD with string "CERTIFYING_BUILD" in tag_build function
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Fix incorrect assignment of tag value for 'certifying' in tag_build function
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Add CERTIFY_BUILD constant to TagValue class
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Fix tag value assignment for 'certifying' and update constant name in TagValue class
  deploy-board/deploy_board/webapp/build_views.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Remove CERTIFYING_BUILD constant and its usage in tag_build function
  deploy-board/deploy_board/webapp/build_views.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TagValue.java
Labels: deploy-board, deploy-service

Add CERTIFYING_BUILD constant to TagValue class
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Reintroduce CERTIFYING_BUILD constant in TagValue class
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Reintroduce CERTIFYING_BUILD constant in TagValue class and format code for readability
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Fix missing newline at end of file in tags_helper.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Remove unnecessary newline in TagValue class in tags_helper.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Fix formatting in TagValue class by removing unnecessary newline
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Add CERTIFYING_BUILD constant to TagValue class in tags_helper.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Fix formatting in tags_helper.py by adjusting comment alignment
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Fix formatting in tags_helper.py by adjusting whitespace around class attributes
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Fix formatting in TagValue class by removing extra newline
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
Labels: deploy-board

Add CERTIFYING_BUILD tag to TagValue enum and update tag_build logic
  deploy-board/deploy_board/webapp/build_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TagValue.java
Labels: deploy-board, deploy-service

Fix formatting in tag_build function by adding spaces around equality checks
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Fix formatting in tag_build function by restructuring tag dictionary for improved readability
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Fix formatting in tag_build function by adding spaces around dictionary keys
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Fix formatting in tag_build function by adding a trailing comma in the tag dictionary
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Refactor formatting in compare_commits_datatables function for improved readability
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Fix formatting in build_views.py by improving readability of get_build_names function and adjusting docstring style
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Fix formatting in build_views.py for improved readability and consistency
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Fix formatting in build_views.py for improved readability and consistency
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Fix formatting in build_views.py by adding trailing commas for improved consistency
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

don't send redploy command to agent server when the service is shutting down
  deploy-agent/deployd/agent.py
Labels: deploy-agent

fix typo
  deploy-agent/deployd/agent.py
Labels: deploy-agent

fix format
  deploy-agent/deployd/agent.py
Labels: deploy-agent

fix typo
  deploy-agent/deployd/agent.py
Labels: deploy-agent

Add restart after deploy-agent upgrade
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/types.py
  deploy-agent/deployd/restart/restarter.py
  deploy-agent/deployd/types/ping_response.py
  deploy-agent/setup.py
  deploy-agent/tests/unit/deploy/common/test_config.py
  deploy-agent/tests/unit/deploy/restart/__init__.py
  deploy-agent/tests/unit/deploy/restart/test_restarter.py
  deploy-agent/tests/unit/deploy/server/test_agent.py
Labels: deploy-agent

Prevent redeploy command from being sent to Agent Server during service shutdown (#1791)
  deploy-agent/deployd/agent.py
Labels: deploy-agent

bump version
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

bump version (#1793)
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

Test
  README.md
Labels: none

initial push
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/agent.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-agent, deploy-service

Bump deploy-agent version for new release
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

Revert "Prevent redeploy command from being sent to Agent Server during service shutdown (#1791)"
  deploy-agent/deployd/agent.py
Labels: deploy-agent

Revert "Prevent redeploy command from being sent to Agent Server duri… (#1797)
  deploy-agent/deployd/agent.py
Labels: deploy-agent

Reapply "Prevent redeploy command from being sent to Agent Server duri… (#1797)
  deploy-agent/deployd/agent.py
Labels: deploy-agent
