Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

Bump version (#1769)
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

Implement selective update for HostAgentBean and add unit tests
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostAgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostAgentDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostAgentDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/bean/BeanUtils.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/bean/HostAgentBeanTest.java
Labels: deploy-service

fix test
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBAgentDAOImplTest.java
Labels: deploy-service

CDP-8328: Emit normandie and knox statuses inside pings
  .gitignore
  deploy-agent/README.md
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

Removing jenkins references to make CI builds more generic
  deploy-board/deploy_board/templates/builds/build_details.tmpl
  deploy-board/deploy_board/templates/builds/pick_a_build.tmpl
  deploy-board/deploy_board/templates/clusters/base_image_info.tmpl
  deploy-board/deploy_board/templates/groups/host_infos.html
  deploy-board/deploy_board/templates/groups/scaling_activities.html
Labels: deploy-board

fixing end of file
  deploy-board/deploy_board/templates/builds/build_details.tmpl
Labels: deploy-board

Update Teletraan UI to support non-jenkins builds (#1772)
  deploy-board/deploy_board/templates/builds/build_details.tmpl
  deploy-board/deploy_board/templates/builds/pick_a_build.tmpl
  deploy-board/deploy_board/templates/clusters/base_image_info.tmpl
  deploy-board/deploy_board/templates/groups/host_infos.html
  deploy-board/deploy_board/templates/groups/scaling_activities.html
Labels: deploy-board

Update deploy-agent/deployd/client/client.py
  deploy-agent/deployd/client/client.py
Labels: deploy-agent

Update deploy-agent/deployd/client/client.py
  deploy-agent/deployd/client/client.py
Labels: deploy-agent

Fix indentation
  deploy-agent/deployd/types/ping_request.py
Labels: deploy-agent

(trivial) fix typo
  deploy-agent/deployd/agent.py
Labels: deploy-agent

Clean up py2 support
  deploy-agent/deployd/common/stats.py
  deploy-agent/tests/unit/deploy/common/test_stats.py
Labels: deploy-agent

Remove duplicate deploy agent version
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/common/config.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

Remove duplicate deploy agent version (#1773)
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/common/config.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

Clean up py2 support (#1774)
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/common/stats.py
  deploy-agent/tests/unit/deploy/common/test_stats.py
Labels: deploy-agent

fix: deploy-service/common/pom.xml to reduce vulnerabilities
  deploy-service/common/pom.xml
Labels: deploy-service

Remove trailing lines
  deploy-agent/deployd/client/__init__.py
  deploy-agent/deployd/conf/__init__.py
  deploy-agent/deployd/download/__init__.py
  deploy-agent/deployd/staging/__init__.py
  deploy-agent/tests/integration/__init__.py
  deploy-agent/tests/unit/__init__.py
  deploy-agent/tests/unit/deploy/__init__.py
  deploy-agent/tests/unit/deploy/client/__init__.py
  deploy-agent/tests/unit/deploy/common/__init__.py
  deploy-agent/tests/unit/deploy/download/__init__.py
  deploy-agent/tests/unit/deploy/server/__init__.py
  deploy-agent/tests/unit/deploy/staging/__init__.py
  deploy-agent/tests/unit/deploy/utils/__init__.py
Labels: deploy-agent

Clean up OperationCode
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/types.py
  deploy-agent/deployd/types/opcode.py
  deploy-agent/deployd/types/ping_response.py
Labels: deploy-agent

Clean up AgentStatus
  deploy-agent/deployd/types/agent_status.py
  deploy-agent/deployd/types/ping_report.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/types/test_ping_report.py
  deploy-agent/tests/unit/deploy/types/test_ping_request.py
Labels: deploy-agent

Clean up DeployType
  deploy-agent/deployd/types/deploy_type.py
Labels: deploy-agent

Clean up DeployStage class
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/types/deploy_goal.py
  deploy-agent/deployd/types/deploy_stage.py
  deploy-agent/deployd/types/ping_report.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/types/test_deploy_goal.py
  deploy-agent/tests/unit/deploy/types/test_ping_report.py
  deploy-agent/tests/unit/deploy/types/test_ping_request.py
Labels: deploy-agent

Clean up ServerlessClient
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/client/serverless_client.py
  deploy-agent/tests/unit/deploy/client/test_serverless_client.py
Labels: deploy-agent

Remove redundant host tag
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/common/stats.py
Labels: deploy-agent

Add default tags
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/common/stats.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/tests/unit/deploy/common/test_utils.py
  deploy-agent/tests/unit/deploy/server/test_agent.py
Labels: deploy-agent

dev skip deploy-agent sleep
  deploy-agent/deployd/agent.py
Labels: deploy-agent

optimization: check if debug logging
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-service

dev gitignore
  .gitignore
Labels: none

Refactor deploy goal tags
  deploy-agent/deployd/agent.py
Labels: deploy-agent

optimization: remove duplicate dump
  deploy-agent/deployd/agent.py
Labels: deploy-agent

(backend) multigoal response
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/MultiGoalResponseItemBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-service

dev logging
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/common/env_status.py
  deploy-agent/deployd/types/build.py
  deploy-agent/deployd/types/deploy_goal.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/deployd/types/ping_response.py
Labels: deploy-agent

tmplog
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
Labels: deploy-service

dev nonroot user
  deploy-agent/deployd/common/executor.py
  deploy-agent/deployd/staging/stager.py
Labels: deploy-agent

(backend) handle processSingleEnvId
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
Labels: deploy-service

dev check null tags
  deploy-agent/deployd/common/stats.py
Labels: deploy-agent

multigoal (client)
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/common/env_status.py
  deploy-agent/deployd/common/executor.py
  deploy-agent/deployd/types/multi_goal_response_item.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/server/test_agent.py
Labels: deploy-agent

Revert "dev nonroot user"
  deploy-agent/deployd/common/executor.py
  deploy-agent/deployd/staging/stager.py
Labels: deploy-agent

Add dev1 to cmp_base allow list
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

Update multi goal optimization condition
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-service

format pinghandler
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**
