Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

debug
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

debug
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

debug
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

fix typo
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

fix typo
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

fix typo
  deploy-board/deploy_board/static/js/deploy-board.js
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

debug
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

debug
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

debug
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

remove trailing spaces
  deploy-board/deploy_board/static/js/deploy-board.js
Labels: deploy-board

Bump deploy-agent version (#1701)
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

modernizer mockito
  deploy-service/common/pom.xml
  deploy-service/common/src/test/java/com/pinterest/deployservice/events/EventBridgePublisherTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
Labels: deploy-service

Change assert library
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/CommonUtilsTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/DBConfigReaderTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/HTTPClientTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyReaderTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBEnvironDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/ConfigHistoryHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/metrics/DefaultHostClassifierTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/CompositeAuthorizationFactoryTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvPromotesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/MetricsEmitterTest.java
Labels: deploy-service

Junit4 -> Junit5
  deploy-service/common/src/test/java/com/pinterest/deployservice/alerts/PinterestExternalAlertFactoryTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/buildtags/BuildTagsManagerImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/CommonUtilsTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/DBConfigReaderTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/HTTPClientTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyReaderTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/events/EventBridgePublisherTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/group/CMDBHostGroupManagerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/ConfigHistoryHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/metrics/DefaultHostClassifierTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/scm/GithubManagerTest.java
  deploy-service/pom.xml
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvAlertsTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/ScriptTokenRoleAuthorizerTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteBuildTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteDeployTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/HostTerminatorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/MetricsEmitterTest.java
Labels: deploy-service

Modernize Teletraan tests (#1703)
  deploy-service/common/pom.xml
  deploy-service/common/src/test/java/com/pinterest/deployservice/alerts/PinterestExternalAlertFactoryTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/buildtags/BuildTagsManagerImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/CommonUtilsTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/DBConfigReaderTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/HTTPClientTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyReaderTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBEnvironDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/events/EventBridgePublisherTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/group/CMDBHostGroupManagerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/ConfigHistoryHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/metrics/DefaultHostClassifierTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/scm/GithubManagerTest.java
  deploy-service/pom.xml
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/CompositeAuthorizationFactoryTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvAlertsTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvPromotesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/ScriptTokenRoleAuthorizerTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteBuildTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteDeployTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/HostTerminatorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/MetricsEmitterTest.java
Labels: deploy-service

Update interfaces
  deploy-service/pom.xml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/AuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/OpenAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/RoleAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/TokenAuthenticationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/CompositeAuthorizationFactoryTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/RoleAuthorizationFactoryTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvCapacitiesTest.java
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BaseAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/DenyAllAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/OpenAuthorizer.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizerTest.java
Labels: deploy-service

Simplify
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/OpenAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/TokenAuthenticationFactory.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/DenyAllAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/OpenAuthorizer.java
Labels: deploy-service

support filter envs by stage type
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
Labels: deploy-service

support filter envs by stage type
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
Labels: deploy-service

format
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
Labels: deploy-service

Fix resource name typo in auth schema
  docs/auth/teletraan_auth.yaml
Labels: none

Fix resource name typo in auth schema (#1706)
  docs/auth/teletraan_auth.yaml
Labels: none

Support filter envs by stage type (#1705)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
Labels: deploy-service

Provide the feature to support multiple host types for Teletraan cluster on UI (#1702)
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

added basic badges
  deploy-board/deploy_board/static/css/deploy-board.css
  deploy-board/deploy_board/templates/environs/env_landing.html
Labels: deploy-board

call another rodimus api to get the full list of host type mapping
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/helpers/hosttypesmapping_helper.py
Labels: deploy-board

fix pre-commit error
  deploy-board/deploy_board/webapp/helpers/hosttypesmapping_helper.py
Labels: deploy-board

reload the window when there is error during mapping update
  deploy-board/deploy_board/templates/clusters/modify_host_type_mapping_modal.tmpl
  deploy-board/deploy_board/webapp/helpers/hosttypesmapping_helper.py
Labels: deploy-board

redirect the page after updating the map
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

improve error display
  deploy-board/deploy_board/templates/clusters/modify_host_type_mapping_modal.tmpl
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

fix regression
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board
