Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

add backup instance stuff when creating a new cluster
  deploy-board/deploy_board/templates/configs/new_capacity.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

add backup info
  deploy-board/deploy_board/templates/configs/new_capacity.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

add backup instance stuff when creating a new cluster (#1714)
  deploy-board/deploy_board/templates/configs/new_capacity.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Allow script tokens principals to be authorized
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/CompositeAuthorizationFactoryTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/DenyAllAuthorizer.java
Labels: deploy-service

fromat
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthorizationFactory.java
Labels: deploy-service

Allow script token in on-the-fly authorization (#1715)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/CompositeAuthorizationFactoryTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/DenyAllAuthorizer.java
Labels: deploy-service

fix: deploy-service/common/pom.xml to reduce vulnerabilities
  deploy-service/common/pom.xml
Labels: deploy-service

merge from main
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/CompositeAuthorizationFactoryTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizer.java
Labels: deploy-board, deploy-service

updated css styling
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
Labels: deploy-board

Add title to checkbox to ensure service owners know they should only enable backup instance types feature with capacity-eng approval
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

added filter buttons on filter change for more visibility
  deploy-board/deploy_board/static/css/deploy-board.css
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
Labels: deploy-board

Add principal replacer for pindeploy pipeline
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthenticationFactory.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/EnvoyAuthFilter.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/EnvoyAuthenticator.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/PinDeployPipelinePrincipalReplacer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/PrincipalReplacer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/EnvoyCredentials.java
Labels: deploy-service

edited filter size and style
  deploy-board/deploy_board/static/css/deploy-board.css
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
Labels: deploy-board

add notable warning when enabling backup instance types
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

show warning
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

remove duplicates
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

improve format
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

fix erroneously changed files
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthorizationFactory.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/DenyAllAuthorizer.java
Labels: deploy-service

fix spacing
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
Labels: deploy-board

Add title to checkbox to ensure service owners know they should only enable backup instance types feature with capacity-eng approval (#1717)
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

fix end of file
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
Labels: deploy-board

include spiffe
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/PinDeployPipelinePrincipalReplacer.java
Labels: deploy-service

Change auth order
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthenticationFactory.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/Constants.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/EnvoyAuthFilter.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/PinDeployPipelinePrincipalReplacer.java
Labels: deploy-service

Try bootstrap version 4
  deploy-board/deploy_board/static/css/bootstrap-grid.css
  deploy-board/deploy_board/static/css/bootstrap-grid.css.map
  deploy-board/deploy_board/static/css/bootstrap-grid.min.css
  deploy-board/deploy_board/static/css/bootstrap-grid.min.css.map
  deploy-board/deploy_board/static/css/bootstrap-reboot.css
  deploy-board/deploy_board/static/css/bootstrap-reboot.css.map
  deploy-board/deploy_board/static/css/bootstrap-reboot.min.css
  deploy-board/deploy_board/static/css/bootstrap-reboot.min.css.map
  deploy-board/deploy_board/static/css/bootstrap.css
  deploy-board/deploy_board/static/css/bootstrap.css.map
  deploy-board/deploy_board/static/css/bootstrap.min.css
  deploy-board/deploy_board/static/css/bootstrap.min.css.map
  deploy-board/deploy_board/static/js/bootstrap.bundle.js
  deploy-board/deploy_board/static/js/bootstrap.bundle.js.map
  deploy-board/deploy_board/static/js/bootstrap.bundle.min.js
  deploy-board/deploy_board/static/js/bootstrap.bundle.min.js.map
  deploy-board/deploy_board/static/js/bootstrap.js
  deploy-board/deploy_board/static/js/bootstrap.js.map
  deploy-board/deploy_board/static/js/bootstrap.min.js
  deploy-board/deploy_board/static/js/bootstrap.min.js.map
Labels: deploy-board

Redesign host healthcheck display mode
  deploy-board/deploy_board/static/css/deploy-board.css
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
  deploy-board/deploy_board/webapp/templatetags/utils.py
Labels: deploy-board

Add StageType Filter for Stage Tabs in each Environment (#1718)
  deploy-board/deploy_board/static/css/deploy-board.css
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

Add test coverage
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthenticationFactory.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/PinDeployPipelinePrincipalReplacer.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/EnvoyAuthenticatorTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/PinDeployPipelinePrincipalReplacerTest.java
Labels: deploy-service

config handling
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthenticationFactory.java
Labels: deploy-service

example config
  deploy-service/teletraanservice/bin/server.yaml
Labels: deploy-service

add a new auth type for host type mapping
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-service

bump universal version
  deploy-service/pom.xml
  deploy-service/universal/pom.xml
Labels: deploy-service

add a new auth type for host type mapping (#1720)
  deploy-service/pom.xml
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-service

Update cmdb url link when account is specified
  deploy-board/deploy_board/templates/hosts/host_details.html
Labels: deploy-board

Remove unused CSS classes
  deploy-board/deploy_board/static/css/deploy-board.css
Labels: deploy-board

Uncomment state randomization
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
  deploy-board/deploy_board/webapp/templatetags/utils.py
Labels: deploy-board

Remove state randomization
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
  deploy-board/deploy_board/webapp/templatetags/utils.py
Labels: deploy-board

Remove state from hostname button
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
Labels: deploy-board

add a page link for instance type mapping
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

test
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

test
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board
