Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

add Sox Client Extractor
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/SoxPropertyPathExtractor.java
Labels: deploy-service

format
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/SoxPropertyPathExtractor.java
Labels: deploy-service

format
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/SoxPropertyPathExtractor.java
Labels: deploy-service

Add an new Extractor for sox client (#1841)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/SoxPropertyPathExtractor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/TeletraanAuthZResourceExtractorFactory.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/SoxPropertyPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/TeletraanAuthZResourceExtractorFactoryTest.java
Labels: deploy-service

Support deploy type in webhook job
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/WebhookJob.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/WebhookJobTest.java
Labels: deploy-service

(deploy schedule be) Support host percentages
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/CommonHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

(deploy schedule be) Support infinite cooldown
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/bean/BeanUtils.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/CommonHandlerTest.java
  deploy-service/teletraanservice/pom.xml
Labels: deploy-service

Support deploy type in webhook job
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/WebhookJob.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/WebhookJobTest.java
Labels: deploy-service

(deploy schedule UI) Add step to landing page
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
  deploy-board/deploy_board/templates/deploys/deploy_progress_summary.tmpl
  deploy-board/deploy_board/webapp/agent_report.py
Labels: deploy-board

(deploy schedule UI) Support infinite cooldown + host pct
  deploy-board/deploy_board/templates/configs/schedule_config.tmpl
  deploy-board/deploy_board/templates/deploys/schedule.tmpl
Labels: deploy-board

Support deploy type in webhook job (#1842)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/WebhookJob.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/WebhookJobTest.java
Labels: deploy-service

Update tests for build issue
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/DeployTagWorkerTest.java
Labels: deploy-service

Update tests for build issue (#1846)
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/DeployTagWorkerTest.java
Labels: deploy-service

(deploy schedule UI) Add step to landing page
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
  deploy-board/deploy_board/templates/deploys/deploy_progress_summary.tmpl
  deploy-board/deploy_board/webapp/agent_report.py
Labels: deploy-board

(deploy schedule UI) Support infinite cooldown + host pct
  deploy-board/deploy_board/templates/configs/schedule_config.tmpl
  deploy-board/deploy_board/templates/deploys/schedule.tmpl
Labels: deploy-board

(deploy schedule UI) Support infinite cooldown + host pct
  deploy-board/deploy_board/templates/configs/schedule_config.tmpl
  deploy-board/deploy_board/templates/deploys/schedule.tmpl
Labels: deploy-board

(deploy schedule be) Support infinite cooldown (#1844)
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/bean/BeanUtils.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/CommonHandlerTest.java
  deploy-service/teletraanservice/pom.xml
Labels: deploy-service

(deploy schedule UI) Add step to landing page (#1845)
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
  deploy-board/deploy_board/templates/deploys/deploy_progress_summary.tmpl
  deploy-board/deploy_board/webapp/agent_report.py
Labels: deploy-board

(deploy schedule UI) Support infinite cooldown + host pct (#1847)
  deploy-board/deploy_board/templates/configs/schedule_config.tmpl
  deploy-board/deploy_board/templates/deploys/schedule.tmpl
Labels: deploy-board

(deploy schedule be) Support host percentages
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/CommonHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

dev add dev1 to cmp_base allow list
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

Handle duplicate hosts ids in deploy constraint
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/DeployTagWorkerTest.java
Labels: deploy-service

Update deploy schedule last session
  deploy-board/deploy_board/templates/configs/schedule_config.tmpl
  deploy-board/deploy_board/templates/deploys/schedule.tmpl
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

(deploy schedule be) Support host percentages (#1850)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/CommonHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

Handle duplicate hosts ids in deploy constraint (#1852)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/DeployTagWorkerTest.java
Labels: deploy-service

Update deploy schedule last session (#1853)
  deploy-board/deploy_board/templates/configs/schedule_config.tmpl
  deploy-board/deploy_board/templates/deploys/schedule.tmpl
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

Return schedule config on upsert
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Schedules.java
Labels: deploy-service

Return schedule config on upsert (#1854)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Schedules.java
Labels: deploy-service

Fix sox extractor
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/SoxPropertyPathExtractor.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/BuildPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/DeployPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/EnvPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/EnvStagePathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/HostPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/HotfixPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/SoxPropertyPathExtractorTest.java
Labels: deploy-service

add metrics for isSox endpoint
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
Labels: deploy-service

add aspectJ
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
Labels: deploy-service

Fix isSox extractor and add metrics (#1855)
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/SoxPropertyPathExtractor.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/BuildPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/DeployPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/EnvPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/EnvStagePathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/HostPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/HotfixPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/SoxPropertyPathExtractorTest.java
Labels: deploy-service

fix: deploy-service/common/pom.xml to reduce vulnerabilities
  deploy-service/common/pom.xml
Labels: deploy-service

Add nimbus project name to environs
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
  deploy-service/common/src/main/resources/sql/deploy.sql
  deploy-service/common/src/main/resources/sql/schema-update-22.sql
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
Labels: deploy-service

fix: deploy-service/teletraanservice/pom.xml to reduce vulnerabilities
  deploy-service/teletraanservice/pom.xml
Labels: deploy-service

fix: deploy-service/common/pom.xml to reduce vulnerabilities
  deploy-service/common/pom.xml
Labels: deploy-service

Add nimbus project name to environs
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
Labels: deploy-service

Add nimbus project name to environs
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
Labels: deploy-service

Add nimbus project name to environs
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/common.py
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/helpers/environs_helper.py
  deploy-board/deploy_board/webapp/helpers/nimbusclient.py
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
Labels: deploy-board, deploy-service

Add nimbus project name to environs
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/common.py
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/helpers/environs_helper.py
  deploy-board/deploy_board/webapp/helpers/nimbusclient.py
Labels: deploy-board
