Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

fix regression
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

fix
  deploy-board/deploy_board/templates/clusters/modify_host_type_mapping_modal.tmpl
Labels: deploy-board

fix
  deploy-board/deploy_board/templates/clusters/modify_host_type_mapping_modal.tmpl
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

added stage-type badges to teletraan environments page (#1707)
  deploy-board/deploy_board/static/css/deploy-board.css
  deploy-board/deploy_board/templates/environs/env_landing.html
Labels: deploy-board

update the feature name
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

call another rodimus api to get the full list of host type mapping (#1708)
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/helpers/hosttypesmapping_helper.py
Labels: deploy-board

Add new nimbus updater role.
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TeletraanPrincipalRole.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
Labels: deploy-service

hide backup instance types info when it is not enabled
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

test
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

fix: deploy-board/requirements.txt to reduce vulnerabilities
  deploy-board/requirements.txt
Labels: deploy-board

test
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

Hide 'Backup host types in order: None' text if the feature is disabled
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

remove unnecessary
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

improve code
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

Hide 'Backup host types in order: None' text if the feature is disabled (#1709)
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

change role name
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TeletraanPrincipalRole.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-service

Add new nimbus updater role. (#1710)
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TeletraanPrincipalRole.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-service

Update AuthorizationFactory interface (#1704)
  deploy-service/pom.xml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/AuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/OpenAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/RoleAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/TokenAuthenticationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/CompositeAuthorizationFactoryTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/RoleAuthorizationFactoryTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvCapacitiesTest.java
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BaseAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/DenyAllAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/OpenAuthorizer.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizerTest.java
Labels: deploy-service

add a flag to disable the feature so that we could disable it in prod instance
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

test
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

test
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

test
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

remove console log
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

test
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

Fix null value
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

test
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

remove console logs
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

update the logic
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

Address missing access role during cluster creation (#1713)
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

basic dropdown format
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
Labels: deploy-board

Squash merge master into bnordemann/stages-ui-filter
  deploy-board/deploy_board/static/css/deploy-board.css
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/helpers/hosttypesmapping_helper.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TeletraanPrincipalRole.java
  deploy-service/pom.xml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/AuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/OpenAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/RoleAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/TokenAuthenticationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/CompositeAuthorizationFactoryTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/RoleAuthorizationFactoryTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvCapacitiesTest.java
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BaseAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/DenyAllAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/OpenAuthorizer.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizerTest.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-board, deploy-service

dropdown filled with stage types
  deploy-board/deploy_board/static/css/deploy-board.css
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

added filter and persist on tab navigation
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

rename GET filter param for clarity
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

styling changes
  deploy-board/deploy_board/static/css/deploy-board.css
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

make checkboxes bigger and align text better
  deploy-board/deploy_board/static/css/deploy-board.css
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
Labels: deploy-board

fix css spacing
  deploy-board/deploy_board/static/css/deploy-board.css
Labels: deploy-board

url params change on filter update
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

changed filter param to stageFilter
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

Use the script configuration variable DISABLE_BACKUP_INSTANCE_TYPES to control whether backup instance types are enabled or disabled (#1712)
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**
