Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

bump version to include my bug fix
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

bump version to include my bug fix (#1798)
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/agent.py
Labels: deploy-agent

initial push
  deploy-agent/deployd/agent.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-agent, deploy-service

bump version to include my bug fix (#1798)
  deploy-agent/deployd/agent.py
Labels: deploy-agent

use proxy
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/ci/JenkinsTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

Smaller Teletraan tar ball
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/teletraanservice/src/assembly/teletraanservice.xml
  deploy-service/teletraanservice/src/assembly/teletraanservice_teletraan.xml
Labels: deploy-service

dummy teletraan file
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/universal/pom.xml
Labels: deploy-service

Fix open pr validation
  .gitignore
  deploy-service/teletraanservice/src/assembly/teletraanservice.xml
  deploy-service/teletraanservice/teletraan/teletraan_worker/RESTARTING
Labels: deploy-service

fix eol
  deploy-service/teletraanservice/teletraan/teletraan_worker/RESTARTING
Labels: deploy-service

typo
  .github/workflows/codeql-analysis.yml
  .github/workflows/maven.yml
Labels: none

lint
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/ci/JenkinsTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

Smaller Teletraan tar ball (#1799)
  .github/workflows/codeql-analysis.yml
  .github/workflows/maven.yml
  .gitignore
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/teletraanservice/src/assembly/teletraanservice.xml
  deploy-service/teletraanservice/src/assembly/teletraanservice_teletraan.xml
  deploy-service/teletraanservice/teletraan/teletraan_worker/RESTARTING
  deploy-service/universal/pom.xml
Labels: deploy-service

transition hotbean based on the Jenkins trigger result only
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

fix: deploy-board/requirements.txt to reduce vulnerabilities
  deploy-board/requirements.txt
Labels: deploy-board

Enable pagination for healthchecks
  deploy-board/deploy_board/templates/groups/health_check_activities.html
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

Enable pagination for healthchecks (#1801)
  deploy-board/deploy_board/templates/groups/health_check_activities.html
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

Ignore global format commit
  .git-blame-ignore-revs
Labels: none

throw IOException instead of generic Exception
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

address more comments & add tests
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/ci/BuildkiteTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
Labels: deploy-service

nits
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
Labels: deploy-service

backward compatible try 1
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

lint
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

remove data
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

Support Teletraan and Buildkite integration through CIPlatformManagerProxy (#1795)
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/ci/BuildkiteTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/ci/JenkinsTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

Ignore global format commit (#1803)
  .git-blame-ignore-revs
Labels: none

Update default arm64 image
  deploy-board/deploy_board/settings.py
Labels: deploy-board

Single UI for exiting capacity
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

Single UI for new capacity
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/capacity.html
  deploy-board/deploy_board/templates/configs/new_capacity.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Update modal initial load
  deploy-board/deploy_board/static/js/components/sharedcomponents.js
Labels: deploy-board

Update link in groups page
  deploy-board/deploy_board/templates/groups/group_envs.tmpl
Labels: deploy-board

Add links to Golden AMI UI
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/clusters/base_image_history.html
  deploy-board/deploy_board/templates/clusters/base_image_info.tmpl
  deploy-board/deploy_board/templates/clusters/base_images.tmpl
  deploy-board/deploy_board/templates/clusters/base_images_events.tmpl
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

attempt to fix bug that fail hotfix state unexpectedly
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

leverage priority in triggering CI jobs
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
  deploy-service/common/src/main/resources/sql/deploy.sql
  deploy-service/common/src/main/resources/sql/schema-update-21.sql
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
  tools/mysql/schema-update-21.sql
Labels: deploy-service

attempt to fix bug that fail hotfix state too fast (#1804)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

update
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
Labels: deploy-service

test
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

test
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

test
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

add debug
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

add debug
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**
