Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

Remove unused methods
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Jenkins.java
Labels: deploy-service

Add `WebhookJobTest`
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/WebhookJobTest.java
Labels: deploy-service

disable the ability to delete deploys through api
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Deploys.java
Labels: deploy-service

disable the ability to delete deploys through api (#1757)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Deploys.java
Labels: deploy-service

Add search for build names
  deploy-board/deploy_board/templates/builds/build_names.html
  deploy-board/deploy_board/templates/builds/builds_base.html
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Add search for build names (#1758)
  deploy-board/deploy_board/templates/builds/build_names.html
  deploy-board/deploy_board/templates/builds/builds_base.html
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

Add proxy support to Jenkins client (#1755)
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Jenkins.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/JenkinsTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

Add `WebhookJobTest` (#1756)
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/WebhookJobTest.java
Labels: deploy-service

Extract knox status from host
  deploy-agent/deployd/client/client.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

CDP-8328: deploy-service: add normandie and knox statuses to PingRequest and hosts_and_agents table
  README.md
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostAgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/main/resources/sql/schema-update-20.sql
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  tools/mysql/schema-update-20.sql
Labels: deploy-service

CDP-8328: deploy-agent: emit normandie and knox status inside PingRequest
  .gitignore
  deploy-agent/README.md
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

fix: deploy-service/common/pom.xml to reduce vulnerabilities
  deploy-service/common/pom.xml
Labels: deploy-service

fix: deploy-board/requirements.txt to reduce vulnerabilities
  deploy-board/requirements.txt
Labels: deploy-board

addressed comments
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBAgentDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/pom.xml
  deploy-service/universal/pom.xml
  tools/mysql/schema-update-20.sql
Labels: deploy-service

Normandie and Knox Status enums
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostAgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/KnoxStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/NormandieStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBAgentDAOImplTest.java
Labels: deploy-service

CDP-8328: Add normandie status and knox statuses to HostBean and hostDAO.getHosts
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBeanWithStatuses.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Systems.java
Labels: deploy-service

Map errors to exceptions
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Deploys.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

keep Reflection toString() to avoid changing behavior
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
Labels: deploy-service

CDP-8328: Add normandie status and knox statuses to HostBean and hostDAO.getHosts
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBeanWithStatuses.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Systems.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/HostsTest.java
Labels: deploy-service

CDP-8328: Add normandie status and knox statuses to Host Details page
  deploy-board/deploy_board/templates/hosts/host_details.html
Labels: deploy-board

CDP-8328: deploy-service: add normandie and knox statuses to PingRequest and hosts_and_agents table (#1760)
  README.md
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostAgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/KnoxStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/NormandieStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/main/resources/sql/schema-update-20.sql
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBAgentDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/pom.xml
  deploy-service/universal/pom.xml
  tools/mysql/schema-update-20.sql
Labels: deploy-service

CDP-8328: Add normandie status and knox statuses to Hosts.get
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBeanWithStatuses.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Systems.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/HostsTest.java
Labels: deploy-service

CDP-8328: Add normandie status and knox statuses to EnvHosts.getHostByHostName
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBeanWithStatuses.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHosts.java
Labels: deploy-service

add call timeout to simplify
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
Labels: deploy-service

Fix mapping
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

only execute once
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
Labels: deploy-service

Map errors to exceptions (#1764)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Deploys.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

CDP-8328: Add normandie status and knox statuses to Hosts.get() EnvHosts.getHostByHostName() (#1763)
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBeanWithStatuses.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Systems.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/HostsTest.java
Labels: deploy-service

CDP-8328: Add normandie status and knox statuses to Host Details page (#1765)
  deploy-board/deploy_board/templates/hosts/host_details.html
Labels: deploy-board

GitHub Action: execute mvn spotless:check on push
  .github/workflows/maven.yml
Labels: none

Spotless apply fixes
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostAgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBeanWithStatuses.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/KnoxStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/NormandieStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBAgentDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/HostsTest.java
Labels: deploy-service

GitHub Action: execute mvn spotless:check on push (#1766)
  .github/workflows/maven.yml
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostAgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBeanWithStatuses.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/KnoxStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/NormandieStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBAgentDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/HostsTest.java
Labels: deploy-service

Reduce batch size as read timeout is now 10s
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
Labels: deploy-service

Reduce batch size as read timeout is now 10s (#1767)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
Labels: deploy-service

CDP-8328: deploy-agent: emit normandie and knox status inside PingRequest (#1759)
  .gitignore
  deploy-agent/README.md
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

Revert "CDP-8328: deploy-agent: emit normandie and knox status inside PingRequest (#1759)"
  .gitignore
  deploy-agent/README.md
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

Bump deployd version to 1.2.67 to enable puppet deployment
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

remove extra whitespaces
  deploy-agent/deployd/types/ping_request.py
Labels: deploy-agent

Revert "CDP-8328: deploy-agent: emit normandie and knox status inside PingRequest (#1759) (#1768)
  .gitignore
  deploy-agent/README.md
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

Bump version
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**
