Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

Add nimbus project name to environs
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

Add nimbus project name to environs
  deploy-board/deploy_board/webapp/helpers/environs_helper.py
Labels: deploy-board

Add nimbus project name to environs
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

Add nimbus project name to environs
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

Add nimbus project name to environs
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

Add nimbus project name to environs
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
Labels: deploy-service

Add nimbus project name to environs
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/common.py
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/helpers/environs_helper.py
  deploy-board/deploy_board/webapp/helpers/nimbusclient.py
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
Labels: deploy-board, deploy-service

Add nimbus project name to environs
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/helpers/environs_helper.py
Labels: deploy-board

Add nimbus project name to environs (#1859)
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/common.py
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/helpers/environs_helper.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
  deploy-service/common/src/main/resources/sql/deploy.sql
  deploy-service/common/src/main/resources/sql/schema-update-22.sql
Labels: deploy-board, deploy-service

fix: deploy-service/common/pom.xml to reduce vulnerabilities
  deploy-service/common/pom.xml
Labels: deploy-service

fix: deploy-service/common/pom.xml to reduce vulnerabilities
  deploy-service/common/pom.xml
Labels: deploy-service

fix: deploy-service/common/pom.xml to reduce vulnerabilities
  deploy-service/common/pom.xml
Labels: deploy-service

fix: deploy-board/requirements.txt to reduce vulnerabilities
  deploy-board/requirements.txt
Labels: deploy-board

[CDP-9830] Add no-op endpoint for applying infra changes
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Fix formatting
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Updated log message
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Add bean for payload
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/InfraBean.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Fixed InfraBean
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/InfraBean.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Add missing import
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Add missing import
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

[CDP-9830] Add no-op endpoint for applying infra changes (#1865)
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/InfraBean.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Consolidate `AgentJanitor`
  deploy-service/teletraanservice/bin/server.yaml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/SimpleAgentJanitor.java
Labels: deploy-service

Consolidate `AgentJanitor` (#1866)
  deploy-service/teletraanservice/bin/server.yaml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/SimpleAgentJanitor.java
Labels: deploy-service

Move cluster name from path param to the body
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/InfraBean.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Move cluster name from path param to the body
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

updated style
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Move cluster name from path param to the body (#1867)
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/InfraBean.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Mark stale hosts as unreachable
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AgentJanitorTest.java
Labels: deploy-service

Mark stale hosts as unreachable (#1868)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AgentJanitorTest.java
Labels: deploy-service

add `principal.type` to access log
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/PrincipalNameInjector.java
Labels: deploy-service

add `principal.type` to access log (#1869)
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/PrincipalNameInjector.java
Labels: deploy-service

Initial changes for implementing infra endpoint
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/InfraBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/RodimusClusterBody.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/InfraConfigHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
Labels: deploy-service

Fix build issue
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/DefaultRodimusManager.java
Labels: deploy-service

Add getClusterScalingPolicies
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/InfraBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/RodimusClusterBody.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusAutoScalingPolicies.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusAutoScalingPolicy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusCluster.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/InfraConfigHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/DefaultRodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
Labels: deploy-service

Add getClusterAlarms
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusAutoScalingAlarm.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusAutoScalingPolicies.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/InfraConfigHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/DefaultRodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
Labels: deploy-service

Add rodimusScheduledActions 123
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusAutoScalingAlarm.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusAutoScalingPolicies.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusScheduledAction.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/InfraConfigHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/DefaultRodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
Labels: deploy-service

Add RodimusScheduledAction
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusScheduledAction.java
Labels: deploy-service

Add create and update cluster
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusCluster.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusScheduledAction.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/InfraConfigHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/DefaultRodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
Labels: deploy-service

Add one more log
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/InfraConfigHandler.java
Labels: deploy-service

Add one more log
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/InfraConfigHandler.java
Labels: deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**
