Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

Update link to base image name page
  deploy-board/deploy_board/templates/clusters/base_image_info.tmpl
Labels: deploy-board

Remove duplicate golden image
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Update ami provider link in base image name page
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Update golden image api call
  deploy-board/deploy_board/webapp/helpers/baseimages_helper.py
Labels: deploy-board

Update ami provider link in base image name page
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Remove duplicate golden image
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Update golden image api call
  deploy-board/deploy_board/webapp/helpers/baseimages_helper.py
Labels: deploy-board

Update golden image api call (#1818)
  deploy-board/deploy_board/webapp/helpers/baseimages_helper.py
Labels: deploy-board

bk integration phase2 initial push
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/hotfixs/hotfix_detail.tmpl
  deploy-board/deploy_board/webapp/hotfix_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHotfixDAOImpl.java
  deploy-service/common/src/main/resources/sql/deploy.sql
  deploy-service/common/src/main/resources/sql/schema-update-21.sql
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
  tools/mysql/schema-update-21.sql
Labels: deploy-board, deploy-service

Update ami provider link in base image name page
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Remove duplicate golden image
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Update link to base image name page
  deploy-board/deploy_board/templates/clusters/base_image_info.tmpl
Labels: deploy-board

add pagination
  deploy-board/deploy_board/templates/clusters/base_images.html
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/helpers/baseimages_helper.py
Labels: deploy-board

add commit info column
  deploy-board/deploy_board/static/js/private/build_details.js
  deploy-board/deploy_board/templates/builds/build_details.tmpl
  deploy-board/deploy_board/templates/builds/pick_a_build.tmpl
  deploy-board/deploy_board/templates/deploys/new_deploy.html
Labels: deploy-board

add commit info column (#1819)
  deploy-board/deploy_board/static/js/private/build_details.js
  deploy-board/deploy_board/templates/builds/build_details.tmpl
  deploy-board/deploy_board/templates/builds/pick_a_build.tmpl
  deploy-board/deploy_board/templates/deploys/new_deploy.html
Labels: deploy-board

update instance types checking for bandwidth weighting configuration
  deploy-board/deploy_board/static/js/deploy-board.js
Labels: deploy-board

update instance types checking for bandwidth weighting configuration (#1820)
  deploy-board/deploy_board/static/js/deploy-board.js
Labels: deploy-board

fix
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

test
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

test
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

Update commitInfo after loading builds
  deploy-board/deploy_board/templates/builds/pick_a_build.tmpl
Labels: deploy-board

Update commitInfo after loading builds (#1821)
  deploy-board/deploy_board/templates/builds/pick_a_build.tmpl
Labels: deploy-board

fix bandwidth options bug
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

update the bandwidth options when updating arch or host type (#1822)
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

Update base image links (#1816)
  deploy-board/deploy_board/templates/clusters/base_image_info.tmpl
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Remove duplicate golden image (#1817)
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Add default tags
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/stats.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/tests/unit/deploy/common/test_config.py
  deploy-agent/tests/unit/deploy/common/test_utils.py
  deploy-agent/tests/unit/deploy/server/test_agent.py
Labels: deploy-agent

Refactor deploy goal tags
  deploy-agent/deployd/agent.py
Labels: deploy-agent

fix: deploy-board/requirements.txt to reduce vulnerabilities
  deploy-board/requirements.txt
Labels: deploy-board

Update default CMP image
  deploy-board/deploy_board/settings.py
Labels: deploy-board

bk integration phase2 initial push
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/hotfixs/hotfix_detail.tmpl
  deploy-board/deploy_board/webapp/hotfix_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHotfixDAOImpl.java
  deploy-service/common/src/main/resources/sql/deploy.sql
  deploy-service/common/src/main/resources/sql/schema-update-21.sql
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
  tools/mysql/schema-update-21.sql
Labels: deploy-board, deploy-service

use api queried default branch
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

Update default CMP image (#1825)
  deploy-board/deploy_board/settings.py
Labels: deploy-board

fix some NPE and lint
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHotfixDAOImpl.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

add debug logs
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

change to error logs
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

small bug fix for pipeline slug when quering build average time
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

attempt to fix NPEs
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

remove unintended colon
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

debug progress and deploy board update
  deploy-board/deploy_board/templates/hotfixs/hotfix_detail.tmpl
  deploy-board/deploy_board/webapp/hotfix_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-board, deploy-service
