Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

fix bug (#1734)
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

update stage type label
  deploy-board/deploy_board/templates/configs/env_config.tmpl
Labels: deploy-board

Update label text and remove tooltip
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

Make checkbox checked when resource is managed
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

Add info banner when checkbox is unchecked
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

Fix form field toggle logic
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

Fix layout of new field and banner
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

Target parent class chosen-container
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

Revert "Target parent class chosen-container"
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

Cast checkbox value with !!
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

Add checkbox in cluster forms for when the cluster is managed (#1732)
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/capacity.html
  deploy-board/deploy_board/webapp/capacity_views.py
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Return 404 if no deploy exists
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/BaseBean.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/bean/BaseBeanTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvDeploys.java
Labels: deploy-service

more cases
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvDeploys.java
Labels: deploy-service

Fix NoneType error on clusterless capacity page
  deploy-board/deploy_board/webapp/capacity_views.py
Labels: deploy-board

Fix NoneType error on clusterless capacity page (#1737)
  deploy-board/deploy_board/webapp/capacity_views.py
Labels: deploy-board

wrong method called
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvDeploys.java
Labels: deploy-service

Return 404 if no current deploy exists (#1736)
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/BaseBean.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/bean/BaseBeanTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvDeploys.java
Labels: deploy-service

Remove dead code
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/group/CMDBHostGroupManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/group/DefaultHostGroupManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/group/HostGroupManager.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/group/CMDBHostGroupManagerTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CMDBFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/DefaultHostGroupFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/HostGroupFactory.java
Labels: deploy-service

wip OKhttp
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/ChangeFeedJob.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/WebhookJob.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
Labels: deploy-service

Add checks for script token
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/TokenAuthenticationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/TeletraanScriptTokenProvider.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/TeletraanScriptTokenProviderTest.java
Labels: deploy-service

set new token expiry date to 180 days
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/TokenRoles.java
Labels: deploy-service

Upda
  deploy-board/deploy_board/templates/users/script_token_deprecation.html
  deploy-board/deploy_board/templates/users/users_config.tmpl
  deploy-board/deploy_board/templates/users/users_moved_message.html
Labels: deploy-board

https
  deploy-board/deploy_board/templates/users/script_token_deprecation.html
Labels: deploy-board

Sync style
  deploy-board/deploy_board/templates/users/script_token_deprecation.html
  deploy-board/deploy_board/templates/users/users_moved_message.html
Labels: deploy-board

Add expire date
  deploy-board/deploy_board/templates/users/users_config.tmpl
Labels: deploy-board

wip
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/RetryInterceptor.java
Labels: deploy-service

Update access denied message
  deploy-board/deploy_board/settings.py
Labels: deploy-board

Update access denied message to be more concise and direct (#1740)
  deploy-board/deploy_board/settings.py
Labels: deploy-board

toggle private build when stage type changes
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
Labels: deploy-service

Add tests
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/RetryInterceptor.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

Update tests
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

Fixed instructions link in Deploy Board (#1729)
  deploy-board/deploy_board/templates/users/users_moved_message.html
Labels: deploy-board

Remove legacy code
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/HTTPClientTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
Labels: deploy-service

Remove dead code - `HostGroupManager` (#1738)
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/group/CMDBHostGroupManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/group/DefaultHostGroupManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/group/HostGroupManager.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/group/CMDBHostGroupManagerTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CMDBFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/DefaultHostGroupFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/HostGroupFactory.java
Labels: deploy-service

CDP-8328: deploy-agent: enable unit tests in bazel
  .gitignore
  deploy-agent/README.md
  deploy-agent/tests/BUILD.bazel
  deploy-agent/tests/unit/deploy/common/test_config.py
  deploy-agent/tests/unit/deploy/common/test_helper.py
  deploy-agent/tests/unit/deploy/download/test_download_helper.py
  deploy-agent/tests/unit/deploy/server/test_agent.py
  deploy-agent/tests/unit/deploy/staging/test_staging_helper.py
Labels: deploy-agent

Add checks for script token expiry date (#1739)
  deploy-board/deploy_board/templates/users/script_token_deprecation.html
  deploy-board/deploy_board/templates/users/users_config.tmpl
  deploy-board/deploy_board/templates/users/users_moved_message.html
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/TokenAuthenticationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/TokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/TeletraanScriptTokenProvider.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/TeletraanScriptTokenProviderTest.java
Labels: deploy-board, deploy-service

wip OKhttp
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/ChangeFeedJob.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/WebhookJob.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
Labels: deploy-service

Add tests
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/RetryInterceptor.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

Update tests
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

wip
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/RetryInterceptor.java
Labels: deploy-service
