Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

Update T2 onboarding banner
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
Labels: deploy-board

Update T2 onboarding banner (#1952)
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
Labels: deploy-board

ci: declare contents:read on Deploy Agent CI workflow
  .github/workflows/python.yml
Labels: none

Return 404 on missing environment for promotes endpoint (#1933)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
Labels: deploy-service

add safe url verification
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/MetricsConfigBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/validation/SafeUrl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/validation/SafeUrlValidator.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/validation/SafeUrlValidatorTest.java
Labels: deploy-service

add null checks
  deploy-board/deploy_board/webapp/capacity_views.py
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/common.py
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/templatetags/utils.py
Labels: deploy-board

lint
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

update prefix check to be more granular
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/MetricsConfigBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/MetricsDataFactory.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/validation/SafeUrl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/validation/SafeUrlValidator.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/validation/SafeUrlValidatorTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/MetricsUrlAllowlistFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvMetrics.java
Labels: deploy-service

lint fixes
  deploy-board/deploy_board/webapp/util_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/MetricsDataFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvMetrics.java
Labels: deploy-board, deploy-service

lint
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
Labels: deploy-service

add additional error catch for invalid url
  deploy-board/deploy_board/webapp/util_views.py
Labels: deploy-board

add safe url verification (#1953)
  deploy-board/deploy_board/webapp/util_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/MetricsConfigBean.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/MetricsUrlAllowlistFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvMetrics.java
Labels: deploy-board, deploy-service

Add deploy_board null checks (#1954)
  deploy-board/deploy_board/webapp/capacity_views.py
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/common.py
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/templatetags/utils.py
Labels: deploy-board

adding sox permission
  deploy-service/universal/pom.xml
Labels: deploy-service

adding sox permission (#1955)
  deploy-service/universal/pom.xml
Labels: deploy-service

adding sox permission
  deploy-service/pom.xml
Labels: deploy-service

adding sox permission (#1956)
  deploy-service/pom.xml
Labels: deploy-service

Update T1 onboarding banner
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
Labels: deploy-board

Update T1 onboarding banner (#1957)
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
Labels: deploy-board

SECURITY FIX: Require ADMIN role for systemPriority (BUG-296932)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/EnvironmentHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/ApplyInfraWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvironmentHandlerTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/ApplyInfraWorkerTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvCapacitiesTest.java
Labels: deploy-service

fix formatting
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvironmentHandlerTest.java
Labels: deploy-service

Block systemPriority mass-assignment (BUG-296932) (#1958)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/EnvironmentHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/ApplyInfraWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvironmentHandlerTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/ApplyInfraWorkerTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvCapacitiesTest.java
Labels: deploy-service

Derive env useEntitlements from an entitlement kill switch + rollout allowlist
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/EntitlementEnforcementProvider.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/EntitlementEnforcementProviderTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvStagesTest.java
Labels: deploy-service

Derive env useEntitlements from an entitlement kill switch + rollout allowlist
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/EntitlementEnforcementProvider.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/EntitlementEnforcementProviderTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvStagesTest.java
Labels: deploy-service

Apply google-java-format (spotless) fixes
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/EntitlementEnforcementProvider.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvStagesTest.java
Labels: deploy-service

Use real managed-data decider/list paths for entitlement gate
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/EntitlementEnforcementProvider.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/EntitlementEnforcementProviderTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvStagesTest.java
Labels: deploy-service

Derive env useEntitlements from an entitlement kill switch + rollout allowlist (#1960)
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/EntitlementEnforcementProvider.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/EntitlementEnforcementProviderTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvStagesTest.java
Labels: deploy-service

Add caching to EntitlementEnforcementProvider
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/EntitlementEnforcementProvider.java
Labels: deploy-service

Make EntitlementEnforcementProvider caches effective and add caffeine dep
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/EntitlementEnforcementProvider.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/EntitlementEnforcementProviderTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
Labels: deploy-service

Add caching to EntitlementEnforcementProvider (#1963)
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/EntitlementEnforcementProvider.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/EntitlementEnforcementProviderTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
Labels: deploy-service

Reduce EntitlementEnforcementProvider cache refresh to 1 minute
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/EntitlementEnforcementProvider.java
Labels: deploy-service

Reduce EntitlementEnforcementProvider cache refresh to 1 minute (#1964)
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/EntitlementEnforcementProvider.java
Labels: deploy-service

resource: enforce per-environment WRITE authorization on pindeploy pipeline endpoints
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/PindeployDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBPindeployDAOImpl.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Pindeploy.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/PindeployAuthorizationGapPocTest.java
Labels: deploy-service

fix(deploy-service): single-flight the agent count refresh in canDeploy
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

Clarify read-only capacity UI and deep-link to Entitlements request form
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
Labels: deploy-board

Clarify read-only capacity UI and deep-link to Entitlements request form
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
Labels: deploy-board

Clarify read-only Cluster Capacity UI and deep-link Entitlements form (#1966)
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
Labels: deploy-board

Single-flight the agent count refresh to prevent ping stampedes on large stages (#1967)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

Add entitlement Help & Support escalation guidance to Cluster Capacity
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
  deploy-board/deploy_board/templates/configs/capacity.html
  deploy-board/deploy_board/webapp/capacity_views.py
Labels: deploy-board

Add entitlement Help & Support escalation guidance to Cluster Capacity
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
  deploy-board/deploy_board/templates/configs/capacity.html
  deploy-board/deploy_board/webapp/capacity_views.py
Labels: deploy-board
