Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

CI build link valid
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/webapp/hotfix_views.py
Labels: deploy-board

make some change to bump commit SHA
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

fix bug and reset jobnum when proceed to private-build job
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

remove duplicate forward slash
  deploy-board/deploy_board/settings.py
Labels: deploy-board

reset jobnumb but set to non empty string before transition to BUILDING
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

potentially fix a bug that transition hotbean even if buildID is empty
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

use api queried default branch
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

Fully support Jenkins -> Buildkite migration for hotfix pipelines (#1827)
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/hotfixs/hotfix_detail.tmpl
  deploy-board/deploy_board/webapp/hotfix_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHotfixDAOImpl.java
  deploy-service/common/src/main/resources/sql/deploy.sql
  deploy-service/common/src/main/resources/sql/schema-update-21.sql
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
  tools/mysql/schema-update-21.sql
Labels: deploy-board, deploy-service

Re-select golden AMI when unchecking opt-out of golden AMI (#1829)
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

support migration strategy with pinci pipeline tag & fix branch assignment bug
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

add debug logging to check pipeline tags
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

more debug log and fix getAsString exception for jsonobject
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
Labels: deploy-service

fix one more exception when print tags with getAsString()
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

Add deploy info metrics
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/common/config.py
  deploy-agent/tests/unit/deploy/server/test_agent.py
Labels: deploy-agent

switch to build name
  deploy-agent/deployd/agent.py
  deploy-agent/tests/unit/deploy/server/test_agent.py
Labels: deploy-agent

try toString instead of getAsString() and remove primitive check
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

Add deploy info metrics (#1826)
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/common/config.py
  deploy-agent/tests/unit/deploy/server/test_agent.py
Labels: deploy-agent

Helix recommend going back to getAsString() for comparison
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

Bump deploy-agent version
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

debug buildkite returned failure
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

still assign commit to HEAD
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

Bump deploy-agent version (#1833)
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

updating log level
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
Labels: deploy-service

Add workflow for deploy-agent version check
  .github/workflows/bump-version.yml
Labels: none

modify deployd without version bump
  deploy-agent/deployd/agent.py
Labels: deploy-agent

bump version
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

support migration strategy with pinci pipeline tag & fix branch assignment bug (#1832)
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
Labels: deploy-service

test
  1.txt
Labels: none

add a new auth type, SOX_PROPERTY, for pass through isSOX API
  deploy-service/pom.xml
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-service

add a new auth type, SOX_PROPERTY, for isSOX api to pass through
  1.txt
Labels: none

fix: deploy-board/requirements.txt to reduce vulnerabilities
  deploy-board/requirements.txt
Labels: deploy-board

add a new auth type, SOX_PROPERTY, for isSOX api to pass through
  deploy-service/pom.xml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/TeletraanAuthZResourceExtractorFactory.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/TeletraanAuthZResourceExtractorFactoryTest.java
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-service

add a new auth type, SOX_PROPERTY, for isSOX api to pass through (#1837)
  deploy-service/pom.xml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/TeletraanAuthZResourceExtractorFactory.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/TeletraanAuthZResourceExtractorFactoryTest.java
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-service

Handle missing env for constraint id
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
Labels: deploy-service

Handle network exception in tag worker
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
Labels: deploy-service

Add `DeployTagWorkerTest`
  deploy-service/common/src/test/java/com/pinterest/deployservice/bean/BeanUtils.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/DeployTagWorkerTest.java
Labels: deploy-service

Update deploy constraint error handling (#1840)
  deploy-service/common/src/test/java/com/pinterest/deployservice/bean/BeanUtils.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/DeployTagWorkerTest.java
Labels: deploy-service

temp for review
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/SoxPropertyPathExtractor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/TeletraanAuthZResourceExtractorFactory.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/SoxPropertyPathExtractorTest.java
Labels: deploy-service

sync with master
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/TeletraanAuthZResourceExtractorFactoryTest.java
Labels: deploy-service

deploy for dev1 testing
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
Labels: deploy-service
