Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

teletraan deploy-agent: structured logs for 5 findings (CDP-11364)
  deploy-agent/deployd/common/env_status.py
  deploy-agent/deployd/common/executor.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/deployd/download/http_download_helper.py
  deploy-agent/deployd/download/local_download_helper.py
  deploy-agent/deployd/staging/stager.py
  deploy-agent/tests/unit/deploy/utils/test_status.py
Labels: deploy-agent

teletraan deploy-service: structured logs for 10 findings (CDP-11364)
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/ApplyInfraWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAgentConfigs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvScriptConfigs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Utils.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/UtilsTest.java
Labels: deploy-service

teletraan deploy-service: structured fields on AgentJanitor stale/agentless host WARNs (T040, CDP-11364)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
Labels: deploy-service

teletraan deploy-service: structured logs for 10 findings (CDP-11364)
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/ApplyInfraWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAgentConfigs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvScriptConfigs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Utils.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/UtilsTest.java
Labels: deploy-service

teletraan deploy-service: structured fields on AgentJanitor stale/agentless host WARNs (T040, CDP-11364)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
Labels: deploy-service

[do-not-review] debug udm notif
  deploy-service/common/src/main/java/com/pinterest/deployservice/udm/UdmDataUpdateService.java
Labels: deploy-service

fix ping handler to handle overlapping environments with better ordering
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

update
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-service

update
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

lint
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-service

Fix issue where script configs are wrongly deleted (#1920)
  deploy-agent/deployd/agent.py
  deploy-agent/tests/unit/deploy/common/test_empty_vars.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-agent, deploy-service

update
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-service

prioritize borrowed group capacities over generated ones (#1937)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

Fix host_side_panel Terminate button URL generation (CDP-11399)
  deploy-board/deploy_board/templates/host_side_panel.html
Labels: deploy-board

Fix host_side_panel Terminate button URL generation (CDP-11399) (#1939)
  deploy-board/deploy_board/templates/host_side_panel.html
Labels: deploy-board

Bump deploy agent version to 1.2.76
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

Bump deploy agent version to 1.2.76 (#1940)
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

add migration dates
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
Labels: deploy-board

Add migration dates (#1941)
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
Labels: deploy-board

Fix cluster replacement error when using Terminate and Launch option
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Update pincompute migration message
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
Labels: deploy-board

Update warning_no_tier3.tmpl
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
Labels: deploy-board

Update pincompute migration message (#1943)
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
Labels: deploy-board

indicate when cluster replacement is not making progress
  deploy-board/deploy_board/templates/clusters/cluster-replacement-details.tmpl
  deploy-board/deploy_board/templates/clusters/cluster-replacements.tmpl
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/webapp/templatetags/utils.py
Labels: deploy-board

use 30 minutes for stuck threshold
  deploy-board/deploy_board/templates/clusters/cluster-replacement-details.tmpl
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/webapp/templatetags/utils.py
Labels: deploy-board

Add indication for stuck cluster replacement (#1944)
  deploy-board/deploy_board/templates/clusters/cluster-replacement-details.tmpl
  deploy-board/deploy_board/templates/clusters/cluster-replacements.tmpl
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/webapp/templatetags/utils.py
Labels: deploy-board

testing permissions for github
  README.md
Labels: none

second test
  README.md
Labels: none

add min max to scheduled action
  deploy-board/deploy_board/templates/groups/asg_schedules.tmpl
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

format
  deploy-board/deploy_board/templates/groups/asg_schedules.tmpl
Labels: deploy-board

format
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

Add budgetingEntity=all to entitlement URL to redirect to correct page
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
Labels: deploy-board

Add budgeting entity to contextual link for Entitlements (#1947)
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
Labels: deploy-board

Redact script-token bearer secret from read paths (BUG-285640)
  deploy-board/deploy_board/templates/users/script_token_deprecation.html
  deploy-board/deploy_board/templates/users/users_config.tmpl
  deploy-board/deploy_board/webapp/urls.py
  deploy-board/deploy_board/webapp/user_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/CreatedTokenRolesResponse.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TeletraanPrincipalRole.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TokenRolesBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBTokenRolesDAOImpl.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/bean/TokenRolesBeanTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvTokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SystemTokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/TokenRoles.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-board, deploy-service

add min max to scheduled action (#1946)
  deploy-board/deploy_board/templates/groups/asg_schedules.tmpl
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

ci: declare contents:read on Deploy Agent CI workflow
  .github/workflows/python.yml
Labels: none

Redact script-token bearer secret from read paths (BUG-285640) (#1948)
  deploy-board/deploy_board/templates/users/script_token_deprecation.html
  deploy-board/deploy_board/templates/users/users_config.tmpl
  deploy-board/deploy_board/webapp/urls.py
  deploy-board/deploy_board/webapp/user_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/CreatedTokenRolesResponse.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TeletraanPrincipalRole.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TokenRolesBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBTokenRolesDAOImpl.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/bean/TokenRolesBeanTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvTokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SystemTokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/TokenRoles.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-board, deploy-service

Bound agentless host janitor query with a configurable lookback window
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AgentJanitorTest.java
Labels: deploy-service

Apply spotless format
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
Labels: deploy-service

Bound agentless host janitor query with a configurable lookback window (#1950)
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AgentJanitorTest.java
Labels: deploy-service
