Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

fix: deploy-board/requirements.txt to reduce vulnerabilities
  deploy-board/requirements.txt
Labels: deploy-board

Reduce batch size
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
Labels: deploy-service

Reduce batch size (#1692)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
Labels: deploy-service

Fix graphs
  deploy-board/deploy_board/templates/groups/group_details.html
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

fix launch rate
  deploy-board/deploy_board/webapp/util_views.py
Labels: deploy-board

Changed webpage
  deploy-board/deploy_board/templates/groups/group_details.html
  deploy-board/deploy_board/templates/groups/launch_rate.tmpl
Labels: deploy-board

More consistent calls for updating capacity
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvCapacitiesTest.java
Labels: deploy-service

Create a page to add host type mapping to support multiple host types in one ASG
  deploy-board/deploy_board/templates/clusters/host_types_mapping.html
  deploy-board/deploy_board/templates/clusters/host_types_mapping.tmpl
  deploy-board/deploy_board/templates/clusters/modify_host_type_mapping_modal.tmpl
  deploy-board/deploy_board/webapp/cluster_urls.py
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/helpers/hosttypesmapping_helper.py
Labels: deploy-board

fix compile error
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

test
  deploy-board/deploy_board/templates/clusters/host_types_mapping.html
  deploy-board/deploy_board/templates/clusters/host_types_mapping.tmpl
  deploy-board/deploy_board/templates/clusters/modify_host_type_mapping_modal.tmpl
Labels: deploy-board

update tmpl file name
  deploy-board/deploy_board/templates/clusters/host_types_mapping.html
Labels: deploy-board

fix a bug
  deploy-board/deploy_board/templates/clusters/modify_host_type_mapping_modal.tmpl
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Create a page to add host type mapping to support multiple host types in one ASG (#1695)
  deploy-board/deploy_board/templates/clusters/host_types_mapping.html
  deploy-board/deploy_board/templates/clusters/host_types_mapping.tmpl
  deploy-board/deploy_board/templates/clusters/modify_host_type_mapping_modal.tmpl
  deploy-board/deploy_board/webapp/cluster_urls.py
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/helpers/hosttypesmapping_helper.py
Labels: deploy-board

Update deploy-board/deploy_board/templates/groups/group_details.html
  deploy-board/deploy_board/templates/groups/group_details.html
Labels: deploy-board

Fix and improve group status metrics graphs and dashboard URLs (#1694)
  deploy-board/deploy_board/templates/groups/group_details.html
  deploy-board/deploy_board/templates/groups/launch_rate.tmpl
  deploy-board/deploy_board/webapp/group_view.py
  deploy-board/deploy_board/webapp/util_views.py
Labels: deploy-board

Rename metrics
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
Labels: deploy-service

temp fix
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBUtils.java
Labels: deploy-service

revert change
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBUtils.java
Labels: deploy-service

format
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
Labels: deploy-service

Implement launch latency
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
Labels: deploy-service

Update links to dashboard
  deploy-board/deploy_board/templates/groups/group_details.html
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

fix first deploy terminal condition
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
Labels: deploy-service

Update condition
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
Labels: deploy-service

fix syntax
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

Fix launch failure rate
  deploy-board/deploy_board/templates/groups/launch_rate.tmpl
  deploy-board/deploy_board/webapp/group_view.py
  deploy-board/deploy_board/webapp/util_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
Labels: deploy-board, deploy-service

Add reference line
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

Show `publish_info` in base image UI
  deploy-board/deploy_board/templates/clusters/base_image_info.tmpl
Labels: deploy-board

group capacity bug
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
Labels: deploy-service

Update log level
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
Labels: deploy-service

Show `publish_info` in base image UI (#1697)
  deploy-board/deploy_board/templates/clusters/base_image_info.tmpl
Labels: deploy-board

Emit launch latency (#1696)
  deploy-board/deploy_board/templates/groups/group_details.html
  deploy-board/deploy_board/templates/groups/launch_rate.tmpl
  deploy-board/deploy_board/webapp/group_view.py
  deploy-board/deploy_board/webapp/util_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
Labels: deploy-board, deploy-service

Fix a group capacity update bug (#1698)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
Labels: deploy-service

increase page size
  deploy-board/deploy_board/webapp/helpers/baseimages_helper.py
Labels: deploy-board

More consistent calls for updating capacity (#1693)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvCapacitiesTest.java
Labels: deploy-service

Pass pageSize (200) to call to get AMIs to get more images by default (#1699)
  deploy-board/deploy_board/webapp/helpers/baseimages_helper.py
Labels: deploy-board

Set the enableMultipleHostTypes cluster field to False in the Teletraan UI when sending to Rodimus (ensuring the backend remains stable)
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Set the enableMultipleHostTypes cluster field to False in the Teletraan UI when sending to Rodimus (ensuring the backend remains stable) (#1700)
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Bump deploy-agent version
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

test
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

fix showing error
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**
