Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

fix
  deploy-board/deploy_board/templates/clusters/cluster-replacements.tmpl
Labels: deploy-board

debug
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

debug
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

debug
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

debug
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

debug
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

fix format
  deploy-board/deploy_board/templates/clusters/cluster-replacements.tmpl
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

fix format
  deploy-board/deploy_board/templates/clusters/cluster-replacements.tmpl
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

fix a typo
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

fix a typo
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Display Post-Replacement Cluster Config Changes on Cluster Replacement Page (#1830)
  .pre-commit-config.yaml
  deploy-board/deploy_board/templates/clusters/cluster-replacements.tmpl
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

fix: deploy-board/requirements.txt to reduce vulnerabilities
  deploy-board/requirements.txt
Labels: deploy-board

go back to reset jobnum again but not to empty string
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

update ci url fetching mechanism
  deploy-board/deploy_board/settings.py
Labels: deploy-board

small bug fix for pipeline slug when quering build average time
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

currentCIType instead of ciType
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

debug log && make hotfix timeout in 10mins
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

catch all Exceptions not just IOException
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
Labels: deploy-service

return false when jobexist returns 404
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
Labels: deploy-service

more python lint
  deploy-board/deploy_board/webapp/hotfix_views.py
Labels: deploy-board

restore timeout to 180
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

lint and final prep
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
Labels: deploy-service

update ciPlatform values
  deploy-board/deploy_board/webapp/hotfix_views.py
Labels: deploy-board

debug log when jenkins has higher priority
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
Labels: deploy-service

try not unsetting ciplatform and see if unsupported CI error goes away
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

address comment and removed some not needed commented lines
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
Labels: deploy-service

try reset ciplatform instead of jobnum when proceed to private-build job
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

add debug logs
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

lint and increase timeout slightly
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

validate the platform of hotfix-job and private-build separately
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

fix some NPE and lint
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHotfixDAOImpl.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

attempt to fix NPEs
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

remove unintended colon
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

change to error logs
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

debug build params
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

lint and address some comments
  deploy-board/deploy_board/webapp/hotfix_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/resources/sql/schema-update-21.sql
  tools/mysql/schema-update-21.sql
Labels: deploy-board, deploy-service

debug progress and deploy board update
  deploy-board/deploy_board/templates/hotfixs/hotfix_detail.tmpl
  deploy-board/deploy_board/webapp/hotfix_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-board, deploy-service

process repo name param
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
Labels: deploy-service

bk integration phase2 initial push
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/hotfixs/hotfix_detail.tmpl
  deploy-board/deploy_board/webapp/hotfix_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHotfixDAOImpl.java
  deploy-service/common/src/main/resources/sql/deploy.sql
  deploy-service/common/src/main/resources/sql/schema-update-21.sql
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
  tools/mysql/schema-update-21.sql
Labels: deploy-board, deploy-service

reset jobnumb to empty string try #2
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**
