Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

Fix null ptr with seralizing `EnvironBean` (#1924)
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
Labels: deploy-service

fix: deploy-service/common/pom.xml to reduce vulnerabilities
  deploy-service/common/pom.xml
Labels: deploy-service

Reduce MySQL write load: conditional heartbeat writes on hosts_and_agents
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostAgentDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostAgentDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBAgentDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

Fix import ordering: move java.util.Objects to alphabetical position
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-service

lint
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

Reduce MySQL write load: batch agent status writes
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/AgentDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBAgentDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBAgentDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

lint
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBAgentDAOImpl.java
Labels: deploy-service

Reduce MySQL write load: conditional heartbeat writes on hosts_and_agents (#1926)
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostAgentDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostAgentDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBAgentDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
Labels: deploy-service

Add caching functionality to facter calls
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/tests/unit/deploy/utils/test_facter.py
Labels: deploy-agent

fix test to allow for cache ttl
  deploy-agent/deployd/client/client.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

Revert "fix test to allow for cache ttl"
  deploy-agent/deployd/client/client.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

Fix code
  deploy-agent/deployd/client/client.py
Labels: deploy-agent

account if _config is None
  deploy-agent/deployd/client/client.py
Labels: deploy-agent

fix typo
  deploy-agent/deployd/client/client.py
Labels: deploy-agent

Fix test to accomodate cache_tls
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

fix test
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

Update README.md
  README.md
Labels: none

Update README.md (#1929)
  README.md
Labels: none

Update README.md
  README.md
Labels: none

fix code after upgrading Django
  deploy-board/deploy_board/urls.py
  deploy-board/deploy_board/webapp/arcee_urls.py
  deploy-board/deploy_board/webapp/cluster_urls.py
  deploy-board/deploy_board/webapp/mix_urls.py
  deploy-board/deploy_board/webapp/urls.py
  deploy-sentinel/mysite/mysite/urls.py
Labels: deploy-board, deploy-sentinel

fix lint
  deploy-board/deploy_board/webapp/arcee_urls.py
  deploy-board/deploy_board/webapp/cluster_urls.py
  deploy-board/deploy_board/webapp/urls.py
  deploy-sentinel/mysite/mysite/urls.py
Labels: deploy-board, deploy-sentinel

fix lint
  deploy-sentinel/mysite/mysite/urls.py
Labels: deploy-sentinel

update code
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/templates/hosts/host_details.html
  deploy-board/deploy_board/templates/oauth_failure.html
Labels: deploy-board

fix
  deploy-board/deploy_board/webapp/templatetags/utils.py
Labels: deploy-board

fix
  deploy-board/deploy_board/webapp/security.py
Labels: deploy-board

fix
  deploy-board/deploy_board/webapp/auth.py
Labels: deploy-board

test
  deploy-board/deploy_board/webapp/auth.py
  deploy-board/deploy_board/webapp/security.py
Labels: deploy-board

fix
  deploy-board/deploy_board/webapp/security.py
Labels: deploy-board

test
  deploy-board/deploy_board/webapp/auth.py
Labels: deploy-board

test
  deploy-board/deploy_board/webapp/auth.py
Labels: deploy-board

fix lint
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/templates/hosts/host_details.html
  deploy-board/deploy_board/webapp/auth.py
  deploy-board/deploy_board/webapp/security.py
Labels: deploy-board

fix
  deploy-board/deploy_board/webapp/alarm_views.py
  deploy-board/deploy_board/webapp/capacity_views.py
  deploy-board/deploy_board/webapp/config_map_views.py
  deploy-board/deploy_board/webapp/env_config_views.py
  deploy-board/deploy_board/webapp/error_views.py
  deploy-board/deploy_board/webapp/metrics_views.py
  deploy-board/deploy_board/webapp/promote_views.py
  deploy-board/deploy_board/webapp/schedule_views.py
  deploy-board/deploy_board/webapp/webhook_views.py
Labels: deploy-board

fix lint
  deploy-board/deploy_board/webapp/alarm_views.py
  deploy-board/deploy_board/webapp/capacity_views.py
  deploy-board/deploy_board/webapp/config_map_views.py
  deploy-board/deploy_board/webapp/env_config_views.py
  deploy-board/deploy_board/webapp/error_views.py
  deploy-board/deploy_board/webapp/metrics_views.py
  deploy-board/deploy_board/webapp/promote_views.py
  deploy-board/deploy_board/webapp/schedule_views.py
  deploy-board/deploy_board/webapp/webhook_views.py
Labels: deploy-board

fix
  deploy-board/deploy_board/templates/builds/build_details.tmpl
  deploy-board/deploy_board/templates/configs/env_config.tmpl
Labels: deploy-board

Update auth.py
  deploy-board/deploy_board/webapp/auth.py
Labels: deploy-board

Update code after upgrading Django from 1.11.29 to 4.2.26 (#1931)
  deploy-board/deploy_board/templates/builds/build_details.tmpl
  deploy-board/deploy_board/templates/configs/env_config.tmpl
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/templates/hosts/host_details.html
  deploy-board/deploy_board/templates/oauth_failure.html
  deploy-board/deploy_board/urls.py
  deploy-board/deploy_board/webapp/alarm_views.py
  deploy-board/deploy_board/webapp/arcee_urls.py
  deploy-board/deploy_board/webapp/auth.py
  deploy-board/deploy_board/webapp/capacity_views.py
  deploy-board/deploy_board/webapp/cluster_urls.py
  deploy-board/deploy_board/webapp/config_map_views.py
  deploy-board/deploy_board/webapp/env_config_views.py
  deploy-board/deploy_board/webapp/error_views.py
  deploy-board/deploy_board/webapp/metrics_views.py
  deploy-board/deploy_board/webapp/mix_urls.py
  deploy-board/deploy_board/webapp/promote_views.py
  deploy-board/deploy_board/webapp/schedule_views.py
  deploy-board/deploy_board/webapp/security.py
  deploy-board/deploy_board/webapp/templatetags/utils.py
  deploy-board/deploy_board/webapp/urls.py
  deploy-board/deploy_board/webapp/webhook_views.py
  deploy-sentinel/mysite/mysite/urls.py
Labels: deploy-board, deploy-sentinel

Add deploy_build_id and replaced_build_id to changefeed payload
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
Labels: deploy-service

Add deploy and replaced build ID to changefeed event (#1932)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
Labels: deploy-service

switch from 500 on missing environment to 404
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
Labels: deploy-service

fix lint
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
Labels: deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**
