Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

Pass env and stage
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/InfraBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/AccountProvider.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/AutoRefreshConfig.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/AutoScalingAlarm.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/AutoScalingAlarmComparisonOperator.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/AutoScalingAlarmType.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/AutoScalingPolicy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/AutoScalingPolicyScalingType.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/AutoScalingPolicyType.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/AutoScalingScheduledActions.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/ClusterType.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusCluster.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/ScaleInProtectedInstances.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/InfraConfigHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/DefaultRodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/EnvironmentHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/InfraConfigHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvCapacitiesTest.java
Labels: deploy-service

Switch to get call
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/InfraConfigHandler.java
Labels: deploy-service

Remove auth
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/InfraConfigHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Remove auth
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/InfraConfigHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Add ResourceAuthZInfo back
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Add create, update back
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/fixture/EnvironBeanFixture.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/ConfigHistoryHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/DeployHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/InfraConfigHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvAlertsTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/ResourceAuthorizationTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/DeployPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/HostPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/UserRoleAuthorizerTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteBuildTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteDeployTest.java
Labels: deploy-service

Add ResourceAuthZInfo back, fix builder
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/fixture/EnvironBeanFixture.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/ConfigHistoryHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/DeployHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvAlertsTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/DeployPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/HostPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteBuildTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteDeployTest.java
Labels: deploy-service

Add ResourceAuthZInfo back, fix builder
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/ResourceAuthorizationTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/UserRoleAuthorizerTest.java
Labels: deploy-service

Remove ResourceAuthZInfo
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusCluster.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusScheduledAction.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/InfraConfigHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Switch to GET and READ
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Switch to POST
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Switch to WRITE
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Switch to READ
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/InfraConfigHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Add ResourceAuthZInfo with WRITE and ENV
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Switch to ENV_STAGE
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Add log back, no call to test
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/InfraConfigHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Add call to test with getCluster
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvInfras.java
Labels: deploy-service

Add call to createCluster
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/handler/InfraConfigHandler.java
Labels: deploy-service

Bump codeql actions
  .github/workflows/codeql-analysis.yml
Labels: none

Bump codeql actions (#1871)
  .github/workflows/codeql-analysis.yml
Labels: none

Map exception to 400 error code
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/BaseExceptionMapper.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/DeployInternalExceptionMapper.java
Labels: deploy-service

Add a warning when performing a rollback in Teletraan for a stage managed by a PinDeploy pipeline
  deploy-board/deploy_board/templates/deploys/confirm_rollback.tmpl
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

improve the statement
  deploy-board/deploy_board/templates/deploys/confirm_rollback.tmpl
  deploy-board/deploy_board/templates/environs/env_landing.html
Labels: deploy-board

Add a warning when performing a rollback in Teletraan for a stage managed by a PinDeploy pipeline (#1872)
  deploy-board/deploy_board/templates/deploys/confirm_rollback.tmpl
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

Add a warning when performing a deployment in Teletraan for a stage managed by a PinDeploy pipeline
  deploy-board/deploy_board/templates/deploys/confirm_deploy.tmpl
  deploy-board/deploy_board/templates/deploys/confirm_override.tmpl
  deploy-board/deploy_board/templates/deploys/confirm_promote.tmpl
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

Add a warning when performing a deployment in Teletraan for a stage managed by a PinDeploy pipeline (#1873)
  deploy-board/deploy_board/templates/deploys/confirm_deploy.tmpl
  deploy-board/deploy_board/templates/deploys/confirm_override.tmpl
  deploy-board/deploy_board/templates/deploys/confirm_promote.tmpl
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

Add worker metrics
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AutoPromoter.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/BuildJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HostTerminator.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/MetricsEmitter.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/StateTransitioner.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/WorkerTimerFactory.java
Labels: deploy-service

register mapper
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
Labels: deploy-service

register mapper
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
Labels: deploy-service

register mappers
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
Labels: deploy-service

proper response body
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/DeployInternalExceptionMapper.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/ErrorResponse.java
Labels: deploy-service

format
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/BaseExceptionMapper.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/DeployInternalExceptionMapper.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/ErrorResponse.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
Labels: deploy-service

format
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/ErrorResponse.java
Labels: deploy-service

Handle exception properly for build name not matching error (#1874)
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/BaseExceptionMapper.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/DeployInternalExceptionMapper.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/ErrorResponse.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
Labels: deploy-service

Update the banner, as pause and resume actions only affect a single resource
  deploy-board/deploy_board/templates/deploys/confirm_deploy.tmpl
  deploy-board/deploy_board/templates/deploys/confirm_override.tmpl
  deploy-board/deploy_board/templates/deploys/confirm_promote.tmpl
  deploy-board/deploy_board/templates/deploys/confirm_rollback.tmpl
  deploy-board/deploy_board/templates/environs/env_landing.html
Labels: deploy-board

Update the banner, as pause and resume actions only affect a single resource (#1875)
  deploy-board/deploy_board/templates/deploys/confirm_deploy.tmpl
  deploy-board/deploy_board/templates/deploys/confirm_override.tmpl
  deploy-board/deploy_board/templates/deploys/confirm_promote.tmpl
  deploy-board/deploy_board/templates/deploys/confirm_rollback.tmpl
  deploy-board/deploy_board/templates/environs/env_landing.html
Labels: deploy-board

Add configurable pastis timeout
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthorizationFactory.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizer.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizerTest.java
Labels: deploy-service

Add configurable pastis timeout (#1876)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthorizationFactory.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizer.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizerTest.java
Labels: deploy-service

Add worker timing metrics (#1870)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AutoPromoter.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/BuildJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HostTerminator.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/MetricsEmitter.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/StateTransitioner.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/WorkerTimerFactory.java
Labels: deploy-service

push a few changes
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/rodimus/RodimusCluster.java
Labels: deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**
