Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

remove python-daemon library
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/agent.py
  deploy-agent/requirements.txt
Labels: deploy-agent

Add Entitlements Integration
  deploy-board/deploy_board/static/js/components/capacitycomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
Labels: deploy-board

improve the tag when sending metrics for service status
  deploy-agent/deployd/common/utils.py
Labels: deploy-agent

Improve Tagging for Service Status Metrics (#1900)
  deploy-agent/deployd/common/utils.py
Labels: deploy-agent

Banner for new compute onboarding
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
  deploy-board/deploy_board/templates/landing.html
  deploy-board/deploy_board/webapp/deploy_views.py
Labels: deploy-board

Banner for new compute onboarding (#1901)
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
  deploy-board/deploy_board/templates/landing.html
  deploy-board/deploy_board/webapp/deploy_views.py
Labels: deploy-board

Add `use_entitlements` flag
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
  deploy-service/common/src/main/resources/sql/schema-update-24.sql
Labels: deploy-service

Entitlements UI
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/clusters/cluster_capacity.tmpl
  deploy-board/deploy_board/templates/configs/capacity.html
  deploy-board/deploy_board/templates/configs/new_capacity.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/capacity_views.py
Labels: deploy-board

fix: deploy-board/requirements.txt to reduce vulnerabilities
  deploy-board/requirements.txt
Labels: deploy-board

Update T3 onboarding banner
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
Labels: deploy-board

Add flag for t3 onboarding disabled
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/deploys/warning_no_tier3.tmpl
  deploy-board/deploy_board/templates/landing.html
  deploy-board/deploy_board/webapp/deploy_views.py
Labels: deploy-board

bump testcontainer version
  deploy-service/common/pom.xml
Labels: deploy-service

Add comprehensive security audit report for Teletraan
  SECURITY_AUDIT.md
Labels: none

Remove python-daemon library (#1898)
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/agent.py
  deploy-agent/requirements.txt
Labels: deploy-agent

Add SQL injection vulnerability assessment report
  SQLI_VULNERABILITY_REPORT.md
Labels: none

Add security audit report for deploy-agent client.py
  SECURITY_AUDIT_CLIENT.md
Labels: none

fix: deploy-service/pom.xml to reduce vulnerabilities
  deploy-service/pom.xml
Labels: deploy-service

use http code 400 instead of 500 if the aws account is not allowed
  deploy-service/common/src/main/java/com/pinterest/deployservice/pingrequests/Ec2InstanceValidator.java
Labels: deploy-service

Override Testcontainers Ryuk image to 0.6.0 for DB tests
  deploy-service/common/src/test/resources/testcontainers.properties
Labels: deploy-service

fix
  deploy-service/common/src/main/java/com/pinterest/deployservice/pingrequests/Ec2InstanceValidator.java
  deploy-service/common/src/test/resources/testcontainers.properties
Labels: deploy-service

fix format
  deploy-service/common/src/main/java/com/pinterest/deployservice/pingrequests/Ec2InstanceValidator.java
Labels: deploy-service

use http code 400 instead of 500 if the aws account is not allowed (#1915)
  deploy-service/common/src/main/java/com/pinterest/deployservice/pingrequests/Ec2InstanceValidator.java
Labels: deploy-service

add missing package
  deploy-agent/setup.py
Labels: deploy-agent

pin greenlet version
  deploy-agent/setup.py
Labels: deploy-agent

[deploy-agent] Build fixes (#1916)
  deploy-agent/setup.py
Labels: deploy-agent

fix: prevent SSRF in metrics and alarm URL fetching
  deploy-board/deploy_board/webapp/tests/__init__.py
  deploy-board/deploy_board/webapp/tests/test_validate_url.py
  deploy-board/deploy_board/webapp/util_views.py
Labels: deploy-board

Retry facter without using the cache if we fail to get important facts. (#1909)
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/tests/unit/deploy/client/deployagent.conf
  deploy-agent/tests/unit/deploy/client/test_client.py
  deploy-agent/tests/unit/deploy/utils/test_facter.py
Labels: deploy-agent

Bump deploy-agent for new release
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

Bump deploy-agent for new release (#1918)
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

Revert "Fix ENV vars not removed when deleted from control plan (#1878)"
  deploy-agent/deployd/agent.py
  deploy-agent/tests/unit/deploy/common/test_empty_vars.py
Labels: deploy-agent

Revert "Fix ENV vars not removed when deleted from control plan (#1878)" (#1919)
  deploy-agent/deployd/agent.py
  deploy-agent/tests/unit/deploy/common/test_empty_vars.py
Labels: deploy-agent

fix issue where script configs are wrongly deleted
  deploy-agent/deployd/agent.py
  deploy-agent/tests/unit/deploy/common/test_empty_vars.py
Labels: deploy-agent

better fix with server change
  deploy-agent/deployd/agent.py
  deploy-agent/tests/unit/deploy/common/test_empty_vars.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-agent, deploy-service

Bump deploy-agent version for new release
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

Bump deploy-agent version for new release (#1921)
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

[CDP-10905] Honor PinDeploy env type in teletraan for all deployments
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
Labels: deploy-service

Send notifications on stage creation/deletion
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/udm/UdmDataUpdateService.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/udm/UdmDataUpdateServiceTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/UdmDataUpdateServiceFactory.java
Labels: deploy-service

[CDP-10905] Honor PinDeploy env type in teletraan for all deployments (#1922)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
Labels: deploy-service

Send notifications on stage creation/deletion (#1923)
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/udm/UdmDataUpdateService.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/udm/UdmDataUpdateServiceTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/UdmDataUpdateServiceFactory.java
Labels: deploy-service

fix null ptr with seralizing environbean
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
Labels: deploy-service
