Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

add debug
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

add debug
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

add debug
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

add debug
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

add debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

add log
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

add log
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

add log
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

add log
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

add log
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

test
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

remove log
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

only allow bandwidth change for specific host types
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

add log
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

add host type check in cluster creation too
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

fix typo
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

fix
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

test
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

disable network bandwidth when the instance type is not supported
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

debug
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

remove debug console logs
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

remove unnecessary
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

Implementation for AWS EC2 Instance Bandwidth Configuration in Teletraan (#1811)
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Update modal initial load (#1807)
  deploy-board/deploy_board/static/js/components/sharedcomponents.js
Labels: deploy-board

Update link in groups page (#1808)
  deploy-board/deploy_board/templates/groups/group_envs.tmpl
Labels: deploy-board

Add links to Golden AMI UI (#1809)
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/clusters/base_image_history.html
  deploy-board/deploy_board/templates/clusters/base_image_info.tmpl
  deploy-board/deploy_board/templates/clusters/base_images.tmpl
  deploy-board/deploy_board/templates/clusters/base_images_events.tmpl
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

Update default arm64 image (#1806)
  deploy-board/deploy_board/settings.py
Labels: deploy-board

Clean up ServerlessClient (#1778)
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/client/serverless_client.py
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/types.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/deployd/types/agent_status.py
  deploy-agent/deployd/types/deploy_goal.py
  deploy-agent/deployd/types/deploy_stage.py
  deploy-agent/deployd/types/deploy_type.py
  deploy-agent/deployd/types/opcode.py
  deploy-agent/deployd/types/ping_report.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/deployd/types/ping_response.py
  deploy-agent/tests/unit/deploy/client/test_serverless_client.py
  deploy-agent/tests/unit/deploy/types/test_deploy_goal.py
  deploy-agent/tests/unit/deploy/types/test_ping_report.py
  deploy-agent/tests/unit/deploy/types/test_ping_request.py
Labels: deploy-agent

Check debug logging flag as an optimization (#1787)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-service

Remove redundant host tag (#1786)
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/common/stats.py
Labels: deploy-agent

Fix Slack channel for project ownership
  deploy-board/deploy_board/templates/environs/env_landing.html
Labels: deploy-board

Fix Slack channel name for project ownership (#1813)
  deploy-board/deploy_board/templates/environs/env_landing.html
Labels: deploy-board

Support same image name different arch
  deploy-board/deploy_board/static/js/base-image-utils.js
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/base_images.tmpl
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/helpers/baseimages_helper.py
Labels: deploy-board

fix prefix check
  deploy-board/deploy_board/static/js/deploy-board.js
Labels: deploy-board

fix prefix check (#1814)
  deploy-board/deploy_board/static/js/deploy-board.js
Labels: deploy-board

Support same image name different arch (#1812)
  deploy-board/deploy_board/static/js/base-image-utils.js
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/base_images.tmpl
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/helpers/baseimages_helper.py
Labels: deploy-board
