Repository pinterest/teletraan, changes with the labels that .github/labeler.yml gives for each.
All labels: deploy-agent, deploy-board, deploy-sentinel, deploy-service

.github/labeler.yml:

deploy-agent:
  - changed-files:
    - any-glob-to-any-file: deploy-agent/**
deploy-board:
  - changed-files:
    - any-glob-to-any-file: deploy-board/**
deploy-sentinel:
  - changed-files:
    - any-glob-to-any-file: deploy-sentinel/**
deploy-service:
  - changed-files:
    - any-glob-to-any-file: deploy-service/**

Remove legacy code
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/HTTPClient.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/HTTPClientTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
Labels: deploy-service

CDP-8328: deploy-agent: enable unit tests in bazel (#1742)
  .gitignore
  deploy-agent/README.md
  deploy-agent/tests/BUILD.bazel
  deploy-agent/tests/unit/deploy/common/test_config.py
  deploy-agent/tests/unit/deploy/common/test_helper.py
  deploy-agent/tests/unit/deploy/download/test_download_helper.py
  deploy-agent/tests/unit/deploy/server/test_agent.py
  deploy-agent/tests/unit/deploy/staging/test_staging_helper.py
Labels: deploy-agent

Use Proxy for Rodimus
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
Labels: deploy-service

Fix jenkins
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Jenkins.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
Labels: deploy-service

CDP-8328: add normandie status and knox status to ping requests and hosts_and_agents sql table
  .gitignore
  README.md
  deploy-agent/README.md
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostAgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/main/resources/sql/schema-update-20.sql
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  tools/mysql/schema-update-20.sql
Labels: deploy-agent, deploy-service

fix auth header
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Jenkins.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

add logging
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
Labels: deploy-service

CDP-8328: add normandie status and knox status to ping requests and hosts_and_agents sql table
  .gitignore
  README.md
  deploy-agent/README.md
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostAgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/main/resources/sql/schema-update-20.sql
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  tools/mysql/schema-update-20.sql
Labels: deploy-agent, deploy-service

Added an endpoint to get active host ids
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
Labels: deploy-service

CDP-8544: Added an endpoint to get active host ids (#1743)
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
Labels: deploy-service

simplify github auth
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
Labels: deploy-service

Remove cluster capacity stuff
  deploy-board/deploy_board/templates/configs/capacity.html
Labels: deploy-board

Log configs
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/ChangeFeedJob.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/WebhookJob.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
Labels: deploy-service

comment to explaine
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
Labels: deploy-service

Improve job pool
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanAgentService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanWorker.java
Labels: deploy-service

format
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
Labels: deploy-service

Register PrincipalNameInjector
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanAgentService.java
Labels: deploy-service

Change log level of noisy worker logs
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AutoPromoter.java
Labels: deploy-service

toggle private build when stage type changes (#1727)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
Labels: deploy-service

Register PrincipalNameInjector (#1747)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanAgentService.java
Labels: deploy-service

Change log level of noisy worker logs (#1748)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AutoPromoter.java
Labels: deploy-service

Improve job pool configurations (#1746)
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanAgentService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanWorker.java
Labels: deploy-service

Addressed comments
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Jenkins.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/RetryInterceptor.java
Labels: deploy-service

Refactor Http Client implementation (#1741)
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/ChangeFeedJob.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/HTTPClient.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Jenkins.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/WebhookJob.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/HTTPClientTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/RetryInterceptor.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

fix: deploy-service/common/pom.xml to reduce vulnerabilities
  deploy-service/common/pom.xml
Labels: deploy-service

Add extra tag for env
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticator.java
Labels: deploy-service

fix tests
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticatorTest.java
Labels: deploy-service

Apparently null isn't accepted by micrometer
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticator.java
Labels: deploy-service

Add extra tag for env (#1750)
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticator.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticatorTest.java
Labels: deploy-service

Fix retry interceptor
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/RetryInterceptor.java
Labels: deploy-service

simplify implementation
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/RetryInterceptor.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

Fix RetryInterceptor (#1751)
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/RetryInterceptor.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

Fix termination policies not matching from backend API
  deploy-board/deploy_board/webapp/helpers/autoscaling_groups_helper.py
Labels: deploy-board

More policies
  deploy-board/deploy_board/webapp/helpers/autoscaling_groups_helper.py
Labels: deploy-board

Fix termination policies not matching from backend API (#1752)
  deploy-board/deploy_board/webapp/helpers/autoscaling_groups_helper.py
Labels: deploy-board

Only log when stage changes
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
Labels: deploy-service

Only log State transition result when state changes (#1753)
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
Labels: deploy-service

add missing URL params
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

Add missing URL params in HTTP client (#1754)
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

Add proxy support to Jenkins client
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Jenkins.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/JenkinsTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service
