Repository pinterest/teletraan, pull requests merged in 2024-11, with the labels that each got.

#1729 Fixed instructions link in Deploy Board
  deploy-board/deploy_board/templates/users/users_moved_message.html
Labels: deploy-board

#1738 Remove dead code - `HostGroupManager`
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/group/CMDBHostGroupManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/group/DefaultHostGroupManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/group/HostGroupManager.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/group/CMDBHostGroupManagerTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CMDBFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/DefaultHostGroupFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/HostGroupFactory.java
Labels: deploy-service

#1739 Add checks for script token expiry date
  deploy-board/deploy_board/templates/users/script_token_deprecation.html
  deploy-board/deploy_board/templates/users/users_config.tmpl
  deploy-board/deploy_board/templates/users/users_moved_message.html
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/TokenAuthenticationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/TokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/TeletraanScriptTokenProvider.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/TeletraanScriptTokenProviderTest.java
Labels: deploy-service, deploy-board

#1742 CDP-8328: deploy-agent: enable unit tests in bazel
  .gitignore
  deploy-agent/README.md
  deploy-agent/tests/BUILD.bazel
  deploy-agent/tests/unit/deploy/common/test_config.py
  deploy-agent/tests/unit/deploy/common/test_helper.py
  deploy-agent/tests/unit/deploy/download/test_download_helper.py
  deploy-agent/tests/unit/deploy/server/test_agent.py
  deploy-agent/tests/unit/deploy/staging/test_staging_helper.py
Labels: deploy-agent

#1743 CDP-8544: Added an endpoint to get active host ids
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
Labels: deploy-service

#1727 toggle private build when stage type changes
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
Labels: deploy-service

#1747 Register PrincipalNameInjector
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanAgentService.java
Labels: deploy-service

#1748 Change log level of noisy worker logs
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AutoPromoter.java
Labels: deploy-service

#1746 Improve job pool configurations
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanAgentService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanWorker.java
Labels: deploy-service

#1741 Refactor Http Client implementation
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/ChangeFeedJob.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/HTTPClient.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Jenkins.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/WebhookJob.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/rodimus/RodimusManagerImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/GithubManager.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/HTTPClientTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/RetryInterceptor.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

#1750 Add extra tag for env
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticator.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticatorTest.java
Labels: deploy-service

#1751 Fix RetryInterceptor
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/RetryInterceptor.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

#1753 Only log State transition result when state changes
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
Labels: deploy-service

#1754 Add missing URL params in HTTP client
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

#1757 disable the ability to delete deploys through api
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Deploys.java
Labels: deploy-service

#1758 Add search for build names
  deploy-board/deploy_board/templates/builds/build_names.html
  deploy-board/deploy_board/templates/builds/builds_base.html
  deploy-board/deploy_board/webapp/build_views.py
Labels: deploy-board

#1755 Add proxy support to Jenkins client
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/Jenkins.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/JenkinsTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

#1756 Add `WebhookJobTest`
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/WebhookJobTest.java
Labels: deploy-service
