Repository pinterest/teletraan, pull requests merged in 2024-05, with the labels that each got.

#1609 Hotfix feature hotfix
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/EnvStageBodyExtractor.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/EnvStageBodyExtractorTest.java
Labels: deploy-service

#1611 Relax the permission needed for update hotfix
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hotfixs.java
Labels: deploy-service

#1602 add deploy service conflict warning alert
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/static/js/components/capacitycomponents.js
  deploy-board/deploy_board/static/js/components/sharedcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/capacity.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/capacity_views.py
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

#1613 Add metrics that help monitoring AuthN usages
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/ResourceAuthorizationTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/AuthMetricsFactory.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/EnvoyAuthenticator.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/OAuthAuthenticator.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticator.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/AuthMetricsFactoryTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/EnvoyAuthFilterTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/EnvoyAuthenticatorTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/OAuthAuthenticatorTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticatorTest.java
Labels: deploy-service

#1608 minor updated libraries
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/metrics/DefaultHostClassifierTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/UserRoleAuthorizer.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
Labels: deploy-service

#1616 Change Teletraan DB test setups
  deploy-service/common/pom.xml
  deploy-service/common/src/main/resources/sql/cleanup.sql
  deploy-service/common/src/main/resources/sql/schema-update-1.sql
  deploy-service/common/src/main/resources/sql/schema-update-10.sql
  deploy-service/common/src/main/resources/sql/schema-update-11.sql
  deploy-service/common/src/main/resources/sql/schema-update-12.sql
  deploy-service/common/src/main/resources/sql/schema-update-13.sql
  deploy-service/common/src/main/resources/sql/schema-update-14.sql
  deploy-service/common/src/main/resources/sql/schema-update-15.sql
  deploy-service/common/src/main/resources/sql/schema-update-16.sql
  deploy-service/common/src/main/resources/sql/schema-update-17.sql
  deploy-service/common/src/main/resources/sql/schema-update-18.sql
  deploy-service/common/src/main/resources/sql/schema-update-19.sql
  deploy-service/common/src/main/resources/sql/schema-update-2.sql
  deploy-service/common/src/main/resources/sql/schema-update-3.sql
  deploy-service/common/src/main/resources/sql/schema-update-4.sql
  deploy-service/common/src/main/resources/sql/schema-update-5.sql
  deploy-service/common/src/main/resources/sql/schema-update-6.sql
  deploy-service/common/src/main/resources/sql/schema-update-7.sql
  deploy-service/common/src/main/resources/sql/schema-update-8.sql
  deploy-service/common/src/main/resources/sql/schema-update-9.sql
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBUtils.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/fixture/EnvironBeanFixture.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvStagesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/EnvStageBodyExtractorTest.java
  tools/mysql/schema-update-1.sql
  tools/mysql/schema-update-10.sql
  tools/mysql/schema-update-11.sql
  tools/mysql/schema-update-12.sql
  tools/mysql/schema-update-13.sql
  tools/mysql/schema-update-14.sql
  tools/mysql/schema-update-15.sql
  tools/mysql/schema-update-16.sql
  tools/mysql/schema-update-17.sql
  tools/mysql/schema-update-18.sql
  tools/mysql/schema-update-19.sql
  tools/mysql/schema-update-3.sql
  tools/mysql/schema-update-4.sql
  tools/mysql/schema-update-5.sql
  tools/mysql/schema-update-6.sql
  tools/mysql/schema-update-7.sql
  tools/mysql/schema-update-8.sql
  tools/mysql/schema-update-9.sql
Labels: deploy-service

#1619 update teletraan api to disable keel pipeline by pipeline link instead of env/stage name
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/PindeployDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBPindeployDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Pindeploy.java
Labels: deploy-service

#1620 update api call to get pindeploy info
  deploy-board/deploy_board/webapp/helpers/environs_helper.py
Labels: deploy-board

#1622 update Container Status to Health Check Status since some services are not containerized
  deploy-board/deploy_board/templates/environs/env_landing.html
Labels: deploy-board

#1621 update cmdb to support multi-account
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/group_view.py
  deploy-board/deploy_board/webapp/helpers/accounts_helper.py
  deploy-board/deploy_board/webapp/helpers/cmdbapiclient.py
  deploy-board/deploy_board/webapp/helpers/hosts_helper.py
  deploy-board/deploy_board/webapp/host_views.py
Labels: deploy-board

#1624 Fix `create_env.py` script to use non-DEFAULT stage type
  deploy-board/tools/commons.py
  deploy-board/tools/create_env.py
  deploy-board/tools/run.sh
Labels: deploy-board

#1623 [Snyk] Security upgrade requests from 2.31.0 to 2.32.0
  deploy-board/requirements.txt
Labels: deploy-board

#1614 [Snyk] Security upgrade com.slack.api:slack-api-client from 1.39.0 to 1.39.1
  deploy-service/common/pom.xml
Labels: deploy-service

#1625 Improve layout of host panel in env deploy progress page
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
  deploy-board/deploy_board/templates/deploys/deploy_progress.tmpl
  deploy-board/deploy_board/templates/deploys/deploy_stage_summary.html
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/tools/agent_simulator.py
Labels: deploy-board

#1627 Fix collapsible interactivity in host panel
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
Labels: deploy-board

#1626 Surface current deployment dropdown values in env landing page
  deploy-board/deploy_board/templates/environs/env_landing.html
Labels: deploy-board

#1628 Center host counts for previous deployments in deploy stage summary
  deploy-board/deploy_board/templates/deploys/deploy_stage_summary.html
Labels: deploy-board

#1617 Add authz to hosts endpoints
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/EnvironDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBEnvironDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBEnvironDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAgents.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvDeploys.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/HostPathExtractor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/TeletraanAuthZResourceExtractorFactory.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/HostPathExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/TeletraanAuthZResourceExtractorFactoryTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
Labels: deploy-service

#1489 Add AuthZ to Agents, Ratings and Schedules
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Agents.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Ratings.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Schedules.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Systems.java
Labels: deploy-service

#1630 Update UI for user and group management
  deploy-board/deploy_board/templates/users/users_config.html
  deploy-board/deploy_board/templates/users/users_moved_message.html
Labels: deploy-board

#1631 Fix closing div tags in host panel
  deploy-board/deploy_board/templates/deploys/deploy_progress.html
Labels: deploy-board

#1633 Fix stopServiceOnHost AuthZ resource type
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHosts.java
Labels: deploy-service

#1635 Add ruff pre-commit hook
  .pre-commit-config.yaml
  deploy-agent/tox.ini
  deploy-board/tox.ini
  tox.ini
Labels: deploy-board, deploy-agent

#1637 Bug fix: For a javascript ajax call, set the return code instead of default 200 in error view exception handler
  deploy-board/deploy_board/webapp/error_views.py
Labels: deploy-board
