Repository pinterest/teletraan, pull requests merged in 2024-03, with the labels that each got.

#1481 allow toggling custom fields checkbox
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

#1478 Improve docker workflow for local development
  deploy-service/.dockerignore
  deploy-service/Dockerfile.dev
  deploy-service/teletraanservice/Dockerfile
  deploy-service/teletraanservice/bin/run.sh
Labels: deploy-service

#1476 Modify <td>Container Health Status</td> to <td>Health Status</td> to Accommodate Non-Container Service Status Data
  deploy-board/deploy_board/templates/hosts/host_details.tmpl
Labels: deploy-board

#1484 Update downloader to read allow lists from configs
  deploy-agent/deployd/BUILD.bazel
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/download/download_helper_factory.py
  deploy-agent/deployd/download/http_download_helper.py
  deploy-agent/deployd/download/s3_download_helper.py
  deploy-agent/tests/unit/deploy/download/test_http_download_helper.py
  deploy-agent/tests/unit/deploy/download/test_s3_download_helper.py
Labels: deploy-agent

#1491 Migrate maven deploy to artifactory-push CLI
  deploy-service/pom.xml
  deploy-service/settings.xml
  deploy-service/universal/pom.xml
Labels: deploy-service

#1474 show puppet profile preview
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

#1483 highlight sidecars with matching host environment
  deploy-board/deploy_board/templates/hosts/host_details.html
  deploy-board/deploy_board/templates/hosts/host_details.tmpl
  deploy-board/deploy_board/webapp/host_views.py
Labels: deploy-board

#1475 Leverage Health Check Settings for non-container Services to Determine Need for Auto Redeployment
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/common/utils.py
Labels: deploy-agent

#1495 Added dropdown with accounts for advanced cluster settings
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/helpers/accounts_helper.py
Labels: deploy-board

#1479 Dropwizard migration
  deploy-service/common/pom.xml
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanAgentService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Agents.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Builds.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Commits.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/DeployCandidates.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/DeployConstraints.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Deploys.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAgentConfigs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAgents.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAlarms.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAlerts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvDeploys.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvGroupRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHistory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHostTags.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvMetrics.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvPromotes.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvScriptConfigs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvTokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvUserRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvWebHooks.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/GroupRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Groups.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hotfixs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Pings.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Ratings.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Schedules.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SystemGroupRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SystemTokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SystemUserRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Systems.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Tags.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/TokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/UserRoles.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvPromotesTest.java
  deploy-service/universal/pom.xml
Labels: deploy-service

#1480 Remove deprecated org.hibernate.validator.constraints.NotEmpty
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/BuildBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/ChatMessageBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/GroupRolesBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TokenRolesBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/UserRolesBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/WebHookBean.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/HipchatFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/SlackFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/TokenAuthenticationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/WorkerConfig.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/ZKMysqlDataSourceFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvDeploys.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
Labels: deploy-service

#1485 Add spotless plugin for formatting
  deploy-service/pom.xml
Labels: deploy-service

#1499 init datatable for base img history
  deploy-board/deploy_board/templates/clusters/base_image_history.html
  deploy-board/deploy_board/templates/clusters/base_images_events.tmpl
Labels: deploy-board

#1500 Added deduplication and sorting for displayed accounts in the dropdown menu
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

#1503 Add secondary key for fetching az key
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/common/config.py
Labels: deploy-agent

#1497 remove UNKNOWN tag from ami dropdown
  deploy-board/deploy_board/static/js/base-image-utils.js
Labels: deploy-board

#1511 Fixed displaying the dropdown for the list of accounts
  deploy-board/deploy_board/templates/environs/env_landing.html
Labels: deploy-board

#1514 Added displaying accounts on an environment page
  deploy-board/deploy_board/templates/deploys/deploy_progress.tmpl
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/helpers/accounts_helper.py
Labels: deploy-board

#1512 add accounts page
  deploy-board/deploy_board/templates/accounts/accounts.html
  deploy-board/deploy_board/templates/accounts/accounts_base.html
  deploy-board/deploy_board/templates/builds/builds_base.html
  deploy-board/deploy_board/templates/environs/envs_base.html
  deploy-board/deploy_board/templates/groups/group_base.html
  deploy-board/deploy_board/templates/hosts/hosts_base.html
  deploy-board/deploy_board/templates/landing.html
  deploy-board/deploy_board/webapp/accounts_views.py
  deploy-board/deploy_board/webapp/urls.py
Labels: deploy-board

#1486 Introduce universal/security library for AuthN and AuthZ
  .github/workflows/codeql-analysis.yml
  .github/workflows/maven.yml
  deploy-service/pom.xml
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/AnonymousAuthFilter.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/AuditLoggingFilter.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/AuthZResourceExtractor.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BaseAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/Constants.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/EnvoyAuthFilter.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/EnvoyAuthenticator.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/OAuthAuthenticator.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/ResourceAuthZInfo.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/ResourceAuthZInfoFeature.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/ResourceAuthZInfoFilter.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticator.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/ScriptTokenProvider.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AnonymousUser.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/EnvoyCredentials.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/MaskBasedRole.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/Role.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/RoleEnum.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/ScriptTokenPrincipal.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/ServicePrincipal.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/TeletraanPrincipal.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/UserPrincipal.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/ValueBasedRole.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/AnonymousAuthFilterTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BaseAuthorizerTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizerTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/EnvoyAuthFilterTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/OAuthAuthenticatorTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticatorTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/bean/MaskBasedRoleTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/bean/ValueBasedRoleTest.java
Labels: deploy-service

#1505 Add audit log
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/webapp/error_views.py
  deploy-board/deploy_board/webapp/helpers/settings_logging.py
  deploy-board/deploy_board/webapp/security.py
Labels: deploy-board

#1517 Fix POM
  deploy-service/pom.xml
  deploy-service/universal/pom.xml
Labels: deploy-service

#1521 Revert migration to artifactory-push
  deploy-service/pom.xml
  deploy-service/settings.xml
  deploy-service/universal/pom.xml
Labels: deploy-service

#1518 move accounts page to /clouds/accounts
  deploy-board/deploy_board/templates/accounts/accounts.html
  deploy-board/deploy_board/templates/accounts/accounts_base.html
  deploy-board/deploy_board/templates/builds/builds_base.html
  deploy-board/deploy_board/templates/environs/envs_base.html
  deploy-board/deploy_board/templates/groups/group_base.html
  deploy-board/deploy_board/templates/hosts/hosts_base.html
  deploy-board/deploy_board/templates/landing.html
  deploy-board/deploy_board/webapp/urls.py
Labels: deploy-board

#1506 update shebang py3
  deploy-board/manage.py
  deploy-board/setup.py
  deploy-board/tools/create_deploy.py
  deploy-board/tools/create_env.py
  deploy-board/tools/pinger.py
  deploy-board/tools/publish_build.py
Labels: deploy-board

#1523 Change audit log behavior
  deploy-service/teletraanservice/bin/server-no-db.yaml
  deploy-service/teletraanservice/bin/server.yaml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/AuditLoggingFilter.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/PrincipalNameInjector.java
Labels: deploy-service

#1522 Made dynamically displaying accounts depending on available hosts reports
  deploy-board/deploy_board/templates/deploys/deploy_progress.tmpl
  deploy-board/deploy_board/templates/deploys/deploy_progress_summary.tmpl
  deploy-board/deploy_board/webapp/agent_report.py
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

#1496 Add http download failure metric
  deploy-agent/deployd/common/helper.py
  deploy-agent/deployd/download/http_download_helper.py
  deploy-agent/tests/unit/deploy/utils/test_agent.py
Labels: deploy-agent

#1510 create account details page
  deploy-board/deploy_board/templates/accounts/account_details.html
  deploy-board/deploy_board/templates/accounts/accounts.html
  deploy-board/deploy_board/webapp/accounts_views.py
  deploy-board/deploy_board/webapp/helpers/accounts_helper.py
  deploy-board/deploy_board/webapp/urls.py
Labels: deploy-board

#1515 Add maven build flags
  deploy-service/.mvn/maven.config
Labels: deploy-service

#1529 fix a bug in a customer's commit
  deploy-board/deploy_board/webapp/hotfix_views.py
Labels: deploy-board

#1527 Added warning message for old base images of sub-account has chosen
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
Labels: deploy-board

#1528 Added updating cells on choosing account
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

#1530 Added filtering security zones based on the account id
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/helpers/securityzones_helper.py
Labels: deploy-board

#1532 Added filtering by accountId for placements in advanced cluster creation form
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/helpers/placements_helper.py
Labels: deploy-board

#1526 Teletraan dependency clean up
  deploy-service/common/pom.xml
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvAlertsTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteBuildTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteDeployTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/HostTerminatorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/MetricsEmitterTest.java
  deploy-service/universal/pom.xml
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/events/GenericEventPublisherTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BaseAuthorizerTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizerTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/EnvoyAuthFilterTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/ScriptTokenAuthenticatorTest.java
Labels: deploy-service

#1524 add account id column to deploy views
  deploy-board/deploy_board/templates/deploys/deploy_details.tmpl
  deploy-board/deploy_board/webapp/accounts.py
  deploy-board/deploy_board/webapp/agent_report.py
  deploy-board/deploy_board/webapp/deploy_views.py
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/helpers/accounts_helper.py
Labels: deploy-board

#1534 resolve import variable conflict
  deploy-board/deploy_board/webapp/deploy_views.py
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

#1504 hide links for cluster cmp_base profiles
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

#1525 add account id to deploy history
  deploy-board/deploy_board/templates/deploys/deploy_history.tmpl
  deploy-board/deploy_board/templates/deploys/deploys.tmpl
  deploy-board/deploy_board/webapp/accounts.py
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/helpers/accounts_helper.py
Labels: deploy-board

#1537 change host tag creation or update log level from debug to info
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
Labels: deploy-service

#1538 add link to env page
  deploy-board/deploy_board/templates/deploys/deploy_progress_summary.tmpl
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/webapp/accounts.py
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

#1531 [UPDATE] Upgrade mysql connector version and remove mxj
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DatabaseUtil.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBUtils.java
  deploy-service/teletraanservice/bin/server-no-db.yaml
  deploy-service/teletraanservice/pom.xml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/EmbeddedDataSourceFactory.java
  deploy-service/teletraanservice/src/main/resources/META-INF/services/com.pinterest.teletraan.config.DataSourceFactory
Labels: deploy-service

#1541 Migrate teletraan to artifactory-push
  deploy-service/pom.xml
  deploy-service/settings.xml
  deploy-service/universal/pom.xml
Labels: deploy-service

#1536 Add `TELETRAAN_` prefix to Rodimus related env vars
  deploy-board/deploy_board/settings.py
Labels: deploy-board

#1545 add account id to cluster update
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
Labels: deploy-board

#1546 Show host type ID on Teletraan UI
  deploy-board/deploy_board/templates/clusters/host_types.tmpl
Labels: deploy-board

#1547 fix a bug - return status for containerized service
  deploy-agent/deployd/common/utils.py
Labels: deploy-agent

#1501 [FIX] Change queries to use params instead of String format
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBAgentDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBBuildDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBDeployDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBEnvironDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostTagDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/QueryUtils.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
Labels: deploy-service

#1553 Add get default auto refresh config back
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

#1544 Updates to support other cluster/group name formats
  deploy-board/deploy_board/templates/clusters/cluster-replacements.tmpl
  deploy-board/deploy_board/templates/configs/capacity.html
  deploy-board/deploy_board/templates/configs/capacity.tmpl
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/templates/host_side_panel.html
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

#1551 Fix api-doc reference
  deploy-board/deploy_board/webapp/docs_views.py
Labels: deploy-board
