Repository pinterest/teletraan, pull requests merged in 2024-06, with the labels that each got.

#1642 Address deploy-agent lint errors
  .pre-commit-config.yaml
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/common/types.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/deployd/download/downloader.py
  deploy-agent/deployd/staging/transformer.py
  deploy-agent/tests/unit/deploy/client/test_base_client.py
  deploy-agent/tests/unit/deploy/client/test_client.py
  deploy-agent/tests/unit/deploy/download/test_s3_download_helper.py
  deploy-agent/tests/unit/deploy/staging/test_transformer.py
  deploy-agent/tests/unit/deploy/utils/test_exec.py
  deploy-agent/tox.ini
Labels: deploy-agent

#1639 Set default `AuthZResource` when `ResourceAuthZInfo` is null
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BaseAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BaseAuthorizerTest.java
Labels: deploy-service

#1643 Address deploy-board lint errors
  deploy-board/deploy_board/urls.py
  deploy-board/deploy_board/webapp/accounts.py
  deploy-board/deploy_board/webapp/accounts_views.py
  deploy-board/deploy_board/webapp/agent_report.py
  deploy-board/deploy_board/webapp/auth.py
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/common.py
  deploy-board/deploy_board/webapp/deploy_views.py
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/error_views.py
  deploy-board/deploy_board/webapp/group_view.py
  deploy-board/deploy_board/webapp/helpers/autoscaling_metrics_helper.py
  deploy-board/deploy_board/webapp/helpers/base_client.py
  deploy-board/deploy_board/webapp/helpers/baseimages_helper.py
  deploy-board/deploy_board/webapp/helpers/cmdbapiclient.py
  deploy-board/deploy_board/webapp/helpers/environs_helper.py
  deploy-board/deploy_board/webapp/helpers/hosts_helper.py
  deploy-board/deploy_board/webapp/helpers/nimbusclient.py
  deploy-board/deploy_board/webapp/host_views.py
  deploy-board/deploy_board/webapp/promote_views.py
  deploy-board/deploy_board/webapp/schedule_views.py
  deploy-board/deploy_board/webapp/security.py
  deploy-board/deploy_board/webapp/service_add_ons.py
  deploy-board/deploy_board/webapp/templatetags/utils.py
  deploy-board/deploy_board/webapp/urls.py
  deploy-board/deploy_board/webapp/util_views.py
  deploy-board/deploy_board/wsgi.py
  deploy-board/integ_test/env_config_tests.py
Labels: deploy-board

#1645 Update djlint rules
  .pre-commit-config.yaml
  deploy-board/deploy_board/templates/configs/capacity.html
  deploy-board/deploy_board/templates/environs/env_landing.html
  deploy-board/deploy_board/templates/feedbacks/feedback_landing.html
  deploy-board/deploy_board/templates/groups/group_details.html
  deploy-board/deploy_board/templates/host_side_panel.html
  deploy-board/deploy_board/templates/users/users_config.html
Labels: deploy-board

#1646 catch exception if the metric data is not json format
  deploy-board/deploy_board/webapp/util_views.py
Labels: deploy-board

#1640 added host protection status
  deploy-board/deploy_board/templates/environs/env_hosts.html
  deploy-board/deploy_board/templates/host_side_panel.html
  deploy-board/deploy_board/templates/hosts/hosts.tmpl
  deploy-board/deploy_board/webapp/env_views.py
  deploy-board/deploy_board/webapp/helpers/hosts_helper.py
Labels: deploy-board

#1647 Lift deploy schedule restriction
  deploy-board/deploy_board/templates/configs/schedule_config.tmpl
  deploy-board/deploy_board/webapp/schedule_views.py
Labels: deploy-board

#1652 added info tooltip for pinfo_environment
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

#1653 U24 support for deploy-agent
  .github/workflows/python.yml
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/stats.py
  deploy-agent/deployd/download/download_helper_factory.py
  deploy-agent/deployd/download/s3_download_helper.py
  deploy-agent/requirements.txt
  deploy-agent/requirements_test.txt
  deploy-agent/setup.py
  deploy-agent/tests/unit/deploy/download/test_download_helper.py
  deploy-agent/tests/unit/deploy/download/test_s3_download_helper.py
  deploy-agent/thirdparty/requirements.txt
  deploy-agent/tox.ini
Labels: deploy-agent
