Repository pinterest/teletraan, pull requests merged in 2024-02, with the labels that each got.

#1433 Trim knox key
  deploy-service/common/src/main/java/com/pinterest/deployservice/common/KnoxKeyReader.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyReaderTest.java
Labels: deploy-service

#1440 Add JsonProcessingExceptionMapper
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
Labels: deploy-service

#1445 Fix keyError on Teletaan UI
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

#1424 Refactor error budget to use factory (#1393)
  deploy-service/common/src/main/java/com/pinterest/deployservice/metrics/MeterConstants.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AutoPromoter.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/BuildJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployJanitor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HostTerminator.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/StateTransitioner.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/metrics/ErrorBudgetCounterFactory.java
Labels: deploy-service

#1443 Handle Agent without host
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
Labels: deploy-service

#1425 Add LongTaskTimer to track launching hosts
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/metrics/DefaultHostClassifier.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/metrics/HostClassifier.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/bean/BeanUtils.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/metrics/DefaultHostClassifierTest.java
  deploy-service/teletraanservice/pom.xml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/MetricsEmitter.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/MetricsEmitterTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/metrics/micrometer/PinStatsLongTaskTimer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/metrics/micrometer/PinStatsMeterRegistry.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/metrics/micrometer/PinStatsLongTaskTimerTest.java
Labels: deploy-service

#1439 Validation and related exception handling improvements
  deploy-board/deploy_board/templates/configs/promote_config.tmpl
  deploy-board/deploy_board/templates/error.tmpl
  deploy-board/deploy_board/webapp/helpers/base_client.py
  deploy-board/deploy_board/webapp/helpers/exceptions.py
  deploy-board/deploy_board/webapp/promote_views.py
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PromoteBean.java
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanService.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/exception/GenericExceptionMapper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvPromotes.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AutoPromoter.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvPromotesTest.java
Labels: deploy-service, deploy-board

#1450 Ensure `delivery_type` / `stage_type` are in sync
  deploy-service/common/src/main/java/com/pinterest/deployservice/exception/TeletaanInternalException.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
Labels: deploy-service

#1451 Updating messages banner to be more generic
  deploy-board/deploy_board/templates/message_banner.tmpl
Labels: deploy-board

#1437 Introduce Logs for Tracking Host Tags Addition in Database for Updator Identification
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
Labels: deploy-service

#1453 enable private build when stage type is DEV
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
Labels: deploy-service

#1456 Fix `ConcurrentModificationException`
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/MetricsEmitter.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/MetricsEmitterTest.java
Labels: deploy-service

#1446 Fix hosts spinning indefinitely
  deploy-board/deploy_board/templates/hosts/host_details.html
  deploy-board/deploy_board/webapp/agent_report.py
  deploy-board/deploy_board/webapp/helpers/agents_helper.py
  deploy-board/deploy_board/webapp/templatetags/utils.py
Labels: deploy-board

#1466 Move private build on dev logic outside of bean
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/EnvironBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
Labels: deploy-service

#1470 Avoid too many calls to get host ec2 tags
  deploy-board/deploy_board/webapp/agent_report.py
  deploy-board/deploy_board/webapp/helpers/agents_helper.py
  deploy-board/deploy_board/webapp/templatetags/utils.py
Labels: deploy-board

#1469 group sidecars
  deploy-board/deploy_board/templates/hosts/host_details.html
  deploy-board/deploy_board/webapp/host_views.py
Labels: deploy-board
