Repository pinterest/teletraan, pull requests merged in 2024-07, with the labels that each got.

#1654 Bump deploy-agent version
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

#1655 Bump deploy-agent version (again)
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

#1648 Require group / permissions for accessing teletraan
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Agents.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Builds.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Commits.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/DeployCandidates.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/DeployConstraints.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Deploys.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAgentConfigs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAgents.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAlarms.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAlerts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvDeploys.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvGroupRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHistory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHostTags.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvMetrics.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvPromotes.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvScriptConfigs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvStages.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvTokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvUserRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvWebHooks.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Environs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Groups.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hotfixs.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Pindeploy.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Pings.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Ratings.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Schedules.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SecureApiListingResource.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SystemGroupRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SystemTokenRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/SystemUserRoles.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Systems.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Tags.java
Labels: deploy-service

#1656 Support attributes in `AuthZResource`
  deploy-service/pom.xml
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/BuildBodyExtractor.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/BuildPathExtractor.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/BuildBodyExtractorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/BuildPathExtractorTest.java
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/AuthZResourceAttributesUtils.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/Constants.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/EnvoyCredentials.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/AuthZResourceAttributesUtilsTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/BasePastisAuthorizerTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/security/bean/AuthZResourceTest.java
  docs/auth/examples/user_request_example.yaml
  docs/auth/teletraan_auth.yaml
Labels: deploy-service

#1665 Allow script token principals to read unspecified resources
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/security/ScriptTokenRoleAuthorizer.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/ScriptTokenRoleAuthorizerTest.java
Labels: deploy-service

#1661 Add extra authorization to EnvCapacities
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/EnvironDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBEnvironDAOImpl.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBEnvironDAOImplTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/AuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/OpenAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/RoleAuthorizationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvCapacitiesTest.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/BaseAuthorizer.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/TeletraanAuthorizer.java
Labels: deploy-service

#1669 Improve deploy board's error message and error handling
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/clusters/base_images_events.html
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/capacity.html
  deploy-board/deploy_board/templates/configs/capacity.tmpl
  deploy-board/deploy_board/templates/configs/env_config.tmpl
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/templates/error.tmpl
  deploy-board/deploy_board/templates/users/users_moved_message.html
  deploy-board/deploy_board/webapp/helpers/base_client.py
  deploy-board/deploy_board/webapp/helpers/exceptions.py
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CompositeAuthenticationFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/TokenAuthenticationFactory.java
Labels: deploy-service, deploy-board

#1670 change number to string for cluster config value
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

#1671 Handle group not exists
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

#1668 Deduplicate hosts in UI
  deploy-board/deploy_board/webapp/env_views.py
Labels: deploy-board

#1672 Allow hosts added as existing capacity when main environment is not found
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBEnvironDAOImplTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvCapacitiesTest.java
Labels: deploy-service

#1675 fix a typo
  deploy-board/deploy_board/templates/groups/group_config.tmpl
Labels: deploy-board

#1676 Change a host termination error to forbidden
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
Labels: deploy-service

#1679 Fix hotfixes pagination
  deploy-board/deploy_board/templates/hotfixs/hotfix_landing.html
Labels: deploy-board

#1680 Revert "added collapse for clustert list"
  deploy-board/deploy_board/templates/environs/env_tabs.tmpl
Labels: deploy-board

#1674 Fix long task timer implementation
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/metrics/micrometer/PinStatsLongTaskTimer.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/metrics/micrometer/PinStatsLongTaskTimerTest.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/metrics/micrometer/PinStatsPublisherTest.java
Labels: deploy-service

#1681 Update deploy-agent future deps
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/client/base_client.py
  deploy-agent/deployd/common/caller.py
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/executor.py
  deploy-agent/deployd/common/single_instance.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/deployd/download/download_helper_factory.py
  deploy-agent/deployd/download/http_download_helper.py
  deploy-agent/deployd/staging/stager.py
  deploy-agent/setup.py
  deploy-agent/tests/unit/deploy/client/test_base_client.py
Labels: deploy-agent
