Repository pinterest/teletraan, pull requests merged in 2024-08, with the labels that each got.

#1682 fix a typo
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvCapacities.java
Labels: deploy-service

#1683 Add links to alarms
  deploy-board/deploy_board/templates/groups/asg_metrics.tmpl
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

#1426 Add metrics for first deploy success, provision latency
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
Labels: deploy-service

#1685 Fix various logging String.format issues.
  deploy-service/common/src/main/java/com/pinterest/deployservice/buildtags/BuildTagsManagerImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/CommonHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/pingrequests/Ec2InstanceValidator.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/scm/SourceControlManagerProxy.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvAlerts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Tags.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AutoPromoter.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/DeployTagWorker.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HostTerminator.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/SimpleAgentJanitor.java
Labels: deploy-service

#1686 Do not overwrite start time
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
Labels: deploy-service

#1688 Add a new AuthZ resource type
  deploy-service/pom.xml
  deploy-service/universal/pom.xml
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/security/bean/AuthZResource.java
  docs/auth/teletraan_auth.yaml
Labels: deploy-service

#1692 Reduce batch size
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
Labels: deploy-service

#1695 Create a page to add host type mapping to support multiple host types in one ASG
  deploy-board/deploy_board/templates/clusters/host_types_mapping.html
  deploy-board/deploy_board/templates/clusters/host_types_mapping.tmpl
  deploy-board/deploy_board/templates/clusters/modify_host_type_mapping_modal.tmpl
  deploy-board/deploy_board/webapp/cluster_urls.py
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/helpers/hosttypesmapping_helper.py
Labels: deploy-board

#1694 Fix and improve group status metrics graphs and dashboard URLs
  deploy-board/deploy_board/templates/groups/group_details.html
  deploy-board/deploy_board/templates/groups/launch_rate.tmpl
  deploy-board/deploy_board/webapp/group_view.py
  deploy-board/deploy_board/webapp/util_views.py
Labels: deploy-board

#1697 Show `publish_info` in base image UI
  deploy-board/deploy_board/templates/clusters/base_image_info.tmpl
Labels: deploy-board

#1696 Emit launch latency
  deploy-board/deploy_board/templates/groups/group_details.html
  deploy-board/deploy_board/templates/groups/launch_rate.tmpl
  deploy-board/deploy_board/webapp/group_view.py
  deploy-board/deploy_board/webapp/util_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/GoalAnalyst.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
Labels: deploy-service, deploy-board

#1698 Fix a group capacity update bug
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
Labels: deploy-service

#1700 Set the enableMultipleHostTypes cluster field to False in the Teletraan UI when sending to Rodimus (ensuring the backend remains stable)
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

#1701 Bump deploy-agent version
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

#1703 Modernize Teletraan tests
  deploy-service/common/pom.xml
  deploy-service/common/src/test/java/com/pinterest/deployservice/alerts/PinterestExternalAlertFactoryTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/buildtags/BuildTagsManagerImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/CommonUtilsTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/DBConfigReaderTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/HTTPClientTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyReaderTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/common/KnoxKeyTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBEnvironDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/events/EventBridgePublisherTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/group/CMDBHostGroupManagerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/ConfigHistoryHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/EnvironHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/GoalAnalystTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/handler/PingHandlerTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/metrics/DefaultHostClassifierTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/rodimus/RodimusManagerImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/scm/GithubManagerTest.java
  deploy-service/pom.xml
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/config/CompositeAuthorizationFactoryTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/handler/EnvStagesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvAlertsTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/EnvPromotesTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/security/ScriptTokenRoleAuthorizerTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteBuildTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/AutoPromoteDeployTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/HostTerminatorTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/worker/MetricsEmitterTest.java
Labels: deploy-service

#1702 Provide the feature to support multiple host types for Teletraan cluster on UI
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board
