Repository pinterest/teletraan, pull requests merged in 2024-12, with the labels that each got.

#1760 CDP-8328: deploy-service: add normandie and knox statuses to PingRequest and hosts_and_agents table
  README.md
  deploy-service/common/pom.xml
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostAgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/KnoxStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/NormandieStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/main/resources/sql/schema-update-20.sql
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBAgentDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/pom.xml
  deploy-service/universal/pom.xml
  tools/mysql/schema-update-20.sql
Labels: deploy-service

#1764 Map errors to exceptions
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/DeployHandler.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Deploys.java
  deploy-service/universal/src/main/java/com/pinterest/teletraan/universal/http/HttpClient.java
  deploy-service/universal/src/test/java/com/pinterest/teletraan/universal/http/HttpClientTest.java
Labels: deploy-service

#1763 CDP-8328: Add normandie status and knox statuses to Hosts.get() EnvHosts.getHostByHostName()
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBeanWithStatuses.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/EnvironHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/EnvHosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Hosts.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/resource/Systems.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/HostsTest.java
Labels: deploy-service

#1765 CDP-8328: Add normandie status and knox statuses to Host Details page
  deploy-board/deploy_board/templates/hosts/host_details.html
Labels: deploy-board

#1766 GitHub Action: execute mvn spotless:check on push
  .github/workflows/maven.yml
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostAgentBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HostBeanWithStatuses.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/KnoxStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/NormandieStatus.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/PingRequestBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/dao/HostDAO.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHostDAOImpl.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBAgentDAOImplTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/db/DBDAOTest.java
  deploy-service/teletraanservice/src/test/java/com/pinterest/teletraan/resource/HostsTest.java
Labels: deploy-service

#1767 Reduce batch size as read timeout is now 10s
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/AgentJanitor.java
Labels: deploy-service

#1759 CDP-8328: deploy-agent: emit normandie and knox status inside PingRequest
  .gitignore
  deploy-agent/README.md
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

#1768 Revert "CDP-8328: deploy-agent: emit normandie and knox status inside PingRequest (#1759)
  .gitignore
  deploy-agent/README.md
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

#1769 Bump version
  deploy-agent/deployd/__init__.py
Labels: deploy-agent
