Repository pinterest/teletraan, pull requests merged in 2025-06, with the labels that each got.

#1827 Fully support Jenkins -> Buildkite migration for hotfix pipelines
  deploy-board/deploy_board/settings.py
  deploy-board/deploy_board/templates/hotfixs/hotfix_detail.tmpl
  deploy-board/deploy_board/webapp/hotfix_views.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/HotfixBean.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/db/DBHotfixDAOImpl.java
  deploy-service/common/src/main/resources/sql/deploy.sql
  deploy-service/common/src/main/resources/sql/schema-update-21.sql
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
  tools/mysql/schema-update-21.sql
Labels: deploy-service, deploy-board

#1829 Re-select golden AMI when unchecking opt-out of golden AMI
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
Labels: deploy-board

#1826 Add deploy info metrics
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/common/config.py
  deploy-agent/tests/unit/deploy/server/test_agent.py
Labels: deploy-agent
