Repository pinterest/teletraan, pull requests merged in 2025-02, with the labels that each got.

#1771 CDP-8328: Emit normandie and knox statuses inside pings
  .gitignore
  deploy-agent/README.md
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

#1782 Update deploy-agent formatter
  .pre-commit-config.yaml
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/tests/unit/deploy/client/test_client.py
Labels: deploy-agent

#1780 Add CERTIFIED_BUILD tag to tagging system
  deploy-board/deploy_board/webapp/build_views.py
  deploy-board/deploy_board/webapp/helpers/tags_helper.py
  deploy-service/common/src/main/java/com/pinterest/deployservice/bean/TagValue.java
  docs/api/definitions.md
Labels: deploy-service, deploy-board

#1783 Bump deploy-agent version for release
  deploy-agent/deployd/__init__.py
Labels: deploy-agent

#1785 Adjust host launch threshold
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/MetricsEmitter.java
Labels: deploy-service
