Repository pinterest/teletraan, pull requests merged in 2025-04, with the labels that each got.

#1797 Revert "Prevent redeploy command from being sent to Agent Server duri…
  deploy-agent/deployd/agent.py
Labels: deploy-agent

#1798 bump version to include my bug fix
  deploy-agent/deployd/__init__.py
  deploy-agent/deployd/agent.py
Labels: deploy-agent

#1799 Smaller Teletraan tar ball
  .github/workflows/codeql-analysis.yml
  .github/workflows/maven.yml
  .gitignore
  deploy-service/pom.xml
  deploy-service/teletraanservice/pom.xml
  deploy-service/teletraanservice/src/assembly/teletraanservice.xml
  deploy-service/teletraanservice/src/assembly/teletraanservice_teletraan.xml
  deploy-service/teletraanservice/teletraan/teletraan_worker/RESTARTING
  deploy-service/universal/pom.xml
Labels: deploy-service

#1801 Enable pagination for healthchecks
  deploy-board/deploy_board/templates/groups/health_check_activities.html
  deploy-board/deploy_board/webapp/group_view.py
Labels: deploy-board

#1795 Support Teletraan and Buildkite integration through CIPlatformManagerProxy
  deploy-service/common/src/main/java/com/pinterest/deployservice/ServiceContext.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/BaseCIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Buildkite.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformBuild.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManager.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/CIPlatformManagerProxy.java
  deploy-service/common/src/main/java/com/pinterest/deployservice/ci/Jenkins.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/ci/BuildkiteTest.java
  deploy-service/common/src/test/java/com/pinterest/deployservice/ci/JenkinsTest.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/ConfigHelper.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/TeletraanServiceConfiguration.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/BuildkiteFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/CIPlatformFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/config/JenkinsFactory.java
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

#1804 attempt to fix bug that fail hotfix state too fast
  deploy-service/teletraanservice/src/main/java/com/pinterest/teletraan/worker/HotfixStateTransitioner.java
Labels: deploy-service

#1811 Implementation for AWS EC2 Instance Bandwidth Configuration in Teletraan
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/static/js/deploy-board.js
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
Labels: deploy-board

#1808 Update link in groups page
  deploy-board/deploy_board/templates/groups/group_envs.tmpl
Labels: deploy-board

#1806 Update default arm64 image
  deploy-board/deploy_board/settings.py
Labels: deploy-board

#1778 Clean up ServerlessClient
  deploy-agent/deployd/agent.py
  deploy-agent/deployd/client/serverless_client.py
  deploy-agent/deployd/common/config.py
  deploy-agent/deployd/common/types.py
  deploy-agent/deployd/common/utils.py
  deploy-agent/deployd/types/agent_status.py
  deploy-agent/deployd/types/deploy_goal.py
  deploy-agent/deployd/types/deploy_stage.py
  deploy-agent/deployd/types/deploy_type.py
  deploy-agent/deployd/types/opcode.py
  deploy-agent/deployd/types/ping_report.py
  deploy-agent/deployd/types/ping_request.py
  deploy-agent/deployd/types/ping_response.py
  deploy-agent/tests/unit/deploy/client/test_serverless_client.py
  deploy-agent/tests/unit/deploy/types/test_deploy_goal.py
  deploy-agent/tests/unit/deploy/types/test_ping_report.py
  deploy-agent/tests/unit/deploy/types/test_ping_request.py
Labels: deploy-agent

#1787 Check debug logging flag as an optimization
  deploy-service/common/src/main/java/com/pinterest/deployservice/handler/PingHandler.java
Labels: deploy-service

#1786 Remove redundant host tag
  deploy-agent/deployd/client/client.py
  deploy-agent/deployd/common/stats.py
Labels: deploy-agent

#1813 Fix Slack channel name for project ownership
  deploy-board/deploy_board/templates/environs/env_landing.html
Labels: deploy-board

#1814 fix prefix check
  deploy-board/deploy_board/static/js/deploy-board.js
Labels: deploy-board

#1812 Support same image name different arch
  deploy-board/deploy_board/static/js/base-image-utils.js
  deploy-board/deploy_board/static/js/components/clusterconfigcomponents.js
  deploy-board/deploy_board/templates/clusters/base_images.tmpl
  deploy-board/deploy_board/templates/clusters/cluster_configuration.html
  deploy-board/deploy_board/templates/configs/new_capacity_adv.html
  deploy-board/deploy_board/webapp/cluster_view.py
  deploy-board/deploy_board/webapp/helpers/baseimages_helper.py
Labels: deploy-board
